[2017-04-04 01:41] heroxbd commented on #585
Yes, I think documenting `DMTCP_TMPDIR` is not a directory would help.

[2017-04-04 01:43] heroxbd commented on #588
Yes, it can be reproduced by c611a052b6ed3ade2b.  I have run git bisect between c611a052b6 (bad) and tag 2.5.0 (good).

[2017-04-04 02:35] rohgarg commented on #589
Thanks for reporting this issue, @SenthilCaesar. As you noted, this appears to be a bug in the restart script. We can definitely fix this for the next release.

[2017-04-04 02:41] rohgarg commented on #588
Thanks, I suspect I know what's going on. I don't think we'll learn anything new from running a git-bisect. As you noted, the bug was introduced in commit 3d573aa (after the 2.5.0) release. I'll try to reproduce this locally and provide a fix.

[2017-04-04 03:07] rohgarg commented on #588
@heroxbd I am trying to follow the instructions described [here](https://wiki.gentoo.org/wiki/Prefix/libc) on a CentOS-6.8 machine. Please let me know if there's anything specific required in order to reproduce this issue.

[2017-04-04 03:16] heroxbd commented on #588
@rohgarg  Thank you very much for the effort.

If this does not work, I can prepare a docker image for you.

[2017-04-04 12:28] rohgarg commented on #588
@heroxbd Is there a way to short-circuit through the installation process? I left the installation running overnight and it still hadn't finished when I checked in the morning; I had to kill the job in the middle. I'm not sure about the progress it made. The other question I have is: if I restart the process will it continue from where it left off?

[2017-04-04 13:03] heroxbd commented on #588
@rohgarg Yes, it will continue from where it left off.

[2017-04-04 18:28] rohgarg commented on #588
Okay, I have been able to diagnose the issue now. Hopefully, I'll be able to provide a fix soon.

[2017-04-11 17:13] rohgarg commented on #588
So the issue is a little more involved than I had anticipated, and a general fix would require more changes to the exiting design. I think we'd have to defer this to a later release. We can keep this issue open, or open another one specifically to track progress for vdso-related changes. In the short term, for the next release, I propose that we hide the changes under a configure option or a run-t

[2017-04-14 01:22] heroxbd commented on #588
Thank you for the update.  I think your proposal is the best way to move forward.  I'd vote for a configure option.

[2017-04-28 14:28] planetA opened #598 "Race condition in dmtcp_checkpoint"
I think I've spotted some race condition. I run dmtcp_checkpoint several times, and then it turns out that some processes are unable to finish. Here is how I launch the program:

    mpirun -n 4 --oversubscribe -tag-output   ../dmtcp/bin/dmtcp_launch --coord-host localhost --coord-port 7779 ./simple

And how I start the coordinator:

    ../dmtcp/bin/dmtcp_coordinator --coord-port 7779

Here is th

[2017-04-28 17:59] rohgarg commented on #598
@planetA Thanks for reporting this. I'll try to take a look at this.

I'm guessing this is with the master branch. Is that correct? Do you see the same issue with the 2.5 branch?

I noticed that your example doesn't use any of the MPI calls (`MPI_Init()`, `MPI_Finalize()`, etc.) and it's not linked against the MPI library, and yet you run it as an regular MPI program. It probably shouldn't matter,

[2017-04-28 18:05] planetA commented on #598
It is the master branch, yes.

I do not use MPI calls because they are not needed. And actually I think they may hide the result, because they introduce implicit synchronization. I use mpirun just to launch multiple processes at the same time.

Here is the backtrace:

    (gdb) thread apply all bt

    Thread 2 (Thread 0x7f66ca2e9700 (LWP 871)):
    #0  0x00007f66cbcbc5bd in read () at ../sysdeps/

[2017-04-28 18:09] planetA commented on #598
I also looked a bit further. What I see is that thread 1 sends a checkpoint command all the time, but the coordinator ignores it, because workersRunningAndSuspendMsgSent is set to true by that time.

And the checkpoint thread seemingly missed the message. But I do not know how, ATM.

[2017-04-28 18:12] rohgarg commented on #598
Yep, I see this now. I have been able to reproduce this locally. :-)

[2017-04-28 18:20] rohgarg commented on #598
Since all the ranks can request for a checkpoint independently, in your example, it's definitely exposing a race. I suspect that since the processes can exit independently, the race here is that one process requested for a checkpoint while another one had moved ahead and was in the middle of exiting. This leaves the coordinator state as having sent a suspend message, but the processes never ack-ed

[2017-04-28 18:24] planetA commented on #598
I just noticed that the minimal example I give here is not exactly what I wanted it to be. In line 48 there should be continue, not break (this is a stripped version of my minimal example ☺).

But this is essentially what I do. Only rank 0 call dmtcp_checkpoint.

[2017-04-28 18:27] rohgarg commented on #598
Ah, you are right! I had missed the `if (!rank) break;` part. I'll try a global MPI barrier after the main loop to see if it is what I suspect it is. If nothing else, it'll help isolate this further.

[2017-04-28 18:29] planetA commented on #598
I put sleeps to avoid the case when some processes finish before the checkpoint is completed. This should be even more secure than a Barrier I think

[2017-04-28 18:40] rohgarg commented on #598
Not really, because processes are still free to move ahead and exit after coming out of the `sleep()` call.

I have the coordinator logs here.

[code]

I think it's what I suspected. A client exits in the middle of checkpointing. Note the difference between the 7-th checkpoint generation and the 8-th checkpoint generation. The 8th one never gets to complete while a client exits in the middle. Even

[2017-04-28 18:48] planetA commented on #598
I think you're right.

[2017-04-28 18:51] planetA commented on #598
What about adding an API call like dmtcp_barrier, so that the processes can synchronize? The functionality is basically there, one just needs to expose it to the user.

[2017-04-28 19:48] rohgarg commented on #598
It works if I add an MPI barrier after the main loop. (I have commented about my changes on your example link.)

The functionality is more or less there. One could use the existing plugin-related API within the application code, but the main difficulty is that the barriers in DMTCP as closely tied to the checkpoint/resume/restart events. While a plugin can define its own set of barriers (private,

[2017-04-28 19:51] rohgarg commented on #598
I'm wondering if there's anything that we can do from the DMTCP side to prevent this kind of a race, or at the very least, detect this race and print a warning.

[2017-04-28 20:21] #589 closed

[2017-04-29 01:09] planetA commented on #598
I think there is something else. I tried to play with different timeouts, but I can't reproduce it with 2.5.0.

Here is another gist: https://gist.github.com/planetA/cc0cbf7cecec56049c79d7d8d53f7d5d

I updated the example. I also tried to play with sleeps.

Look at lines 30 to 35 in stdout. Rank 0 enters into dmtcp_checkpoint at 30, then you see that rank 1 exits at line 33, and then at line 35 yo

[2017-04-29 17:32] rdp-dn opened #599 "dmtcp 2.5.0 python numpy 1.12.1 import hangs"
I'm experimenting with dmtcp and python, but have run into an issue right out of the gate.  I can import numpy 1.11, but 1.12 results in a hang.  I can import numpy 1.12.1 in a non-checkpoint process.  This is not a critical bug since I can down-rev numpy, but it seems worth reporting.

The machine is a straight up Ubuntu 16.04 instance on AWS.  I get the same problem with both the apt-get dmtcp p

[2017-04-29 18:05] rohgarg commented on #599
Thank you for reporting this issue, @rdp-dn. I can reproduce this issue locally. I'll try to see if I can come up with a fix.

[2017-04-29 18:12] rohgarg commented on #599
The issue here is a deadlock, illustrated by the stack trace below.

[code]

This appears in both the master branch and the 2.5 branch.

[2017-06-22 07:14] gweodoo opened #604 "Troubles with dlsym() + RM"
Hi guys,

First of all, I'm working with the DMTCP 2.5 branch (Github) and GCC 6.2.0 compiler on a 4-node cluster.

I'm currently working on a library overriding some libc calls (like `pthread_create()`) by renaming symbols at compile time (so no need to preload). Just to say because, in the library order, it is located after the DMTCP libraries. Then, to reach the real symbol, I'm using `dlsym()`

[2017-06-22 19:00] jiajuncao commented on #604
Thanks for reporting this to us, @gweodoo

In order to debug the issue, could you tell me a little more about how you create the lib wrappers in your library? Specifically:

1. How do you make your library loaded before the application, if it is not preloaded?

2. How is `dlsym()` being used? Do you `dlopen()` the standard libc libraries, including `libpthread.so`? And then use the handle to retri

[2017-06-22 19:24] gweodoo commented on #604
Thanks @jiajuncao for you response:

1. I'm sorry, it wasn't clear: our library is simply linked to the application and defines a `pthread_create()` function. If I'm not wrong, by construction, each call to this function will reach our implementation **before** the libc (except for dlsym(RTLD_*) calls).
2. Exactly, we use `dlsym(RTLD_NEXT, func)`to reach the next call. The infinite loop you descri

[2017-06-22 19:57] jiajuncao commented on #604
@gweodoo the workaround is good enough. It was added for IntelMPI.

[2017-07-04 14:53] gweodoo opened #605 "Troubles with thread affinity"
Hi guys,

Still on the way to integrate DMTCP inside an MPI implementation, I'm facing an issue with thread affinity.
If I set each thread on a dedicated core (through sched_setaffinity, pthread_setaffinity_np, etc...), everything goes well. I can trigger some checkpoints without affecting thread pinning policy.

The issue arises when the program attempts to be restarted. Threads are not bound any

[2017-07-04 14:55] gweodoo commented on #605
--oops: Maybe it is related to #203 ?

[2017-07-18 01:28] rohgarg commented on #605
Sorry about the delay, @gweodoo. Thanks for reporting this. This certainly looks related to #203. We haven't had time in the past to work on this, but this is not hard to do using a plugin. I'll try to write something and hopefully get back to you soon.

[2017-07-18 06:15] gweodoo commented on #605
Thanks for the reply @rohgarg !

It would probably easy to register for each thread a CPU id, and set the affinity at post-{checkpoint,restart}. the NPTL can clearly be used for this.

But, from a portable point of view, it should be preferable for DMTCP to use a dedicated tool like ([hwloc](https://www.open-mpi.org/projects/hwloc/), widely used in HPC community (but maybe you already knew it). It

[2017-07-18 15:22] rohgarg commented on #605
Yes, that's what I had in mind.

Actually, I'm not that familiar with the hwloc API, so I wasn't really planning on using it here. My plan was to use the POSIX/Linux calls to save and restore affinities, at least to demonstrate a proof-of-concept. But I think this is a good point.

That said, since DMTCP is Linux-specific (at least, right now), I am not sure if we should really be worried about po

[2017-07-18 15:45] gweodoo commented on #605
You are probably right, no need to make things more complicated. DMTCP is not a HPC-specific tool at first. (Almost) every user relies on the NPTL implementation.

I'm currently working on a MPI implementation called MPC (link [here](http://mpc.hpcframework.paratools.com)) which, basically, aims to encapsulate MPI "processes" inside its own user-level threads. Especially, I'm studying how this imp

[2017-07-18 16:52] rohgarg commented on #605
Sure, we'd be happy to collaborate on and support different use-cases. You can write to the DMTCP dev list or to me directly.

[2017-07-18 17:32] rohgarg commented on #605
@gweodoo: Could you please check if PR #606 works for you? (It is based on the 2.5 branch.)

[2017-07-18 20:00] gweodoo commented on #605
Yes, thanks for the quickfix ! I will try to check out the 3.0 branch instead

[2017-07-18 20:53] rohgarg commented on #605
I just realized that the 3.0 branch (master) will need a few more changes. The DMTCP events that I'm using in PR #606 have been deleted from the 3.0 branch.  We will need to bring them back to get this to work.

[2017-07-21 07:08] gweodoo opened #607 "Troubles with GS register"
Hi guys,

I'm still working on DMTCP integration as a C/R system for a custom MPI implementation and I'm focused to the DMTCP TLS mechanism.

TL;DR
--------

GS register does not seem to be handled in a per-thread storage, leading to inconsistent values at restart time.

Explanation
----------------

I saw that TLS save/restore are handled through a `ThreadTLSInfo`, located in a per-thread structu

[2017-07-21 15:27] rohgarg commented on #607
Hi @gweodoo! Thanks again for continuing to work on this.

It's been a while since I looked at this part of the code, so it'll take
me some time to review this. Your analysis and patch seem reasonable. You
are right about the fact that we try to support many different platforms:
x86, x86-64, ARM, and AArch64; I don't know what the proper fix would
look like yet.

However, I do have one question: w

[2017-07-21 16:12] gweodoo commented on #607
To be short, we discovered it because we need to use GS as a per-CPU register.

We implement a user-level thread scheduler relying over POSIX threads. In such case, we can potentially have multiple user-level threads scheduled on the same Unix thread. The FS register is used by the NPTL to store POSIX thread storage while the GS is used to provide the "per user-level" storage (a "nested one").

On

[2017-07-21 16:28] rohgarg commented on #607
Hmmm... Before I try to come up with one, do you have a simple program that I can try locally (to reproduce this issue and poke around)?

(I don't think I need access to your entire stack; just a program that simulates this bug by using the GS register?)

[2017-07-24 06:57] gweodoo commented on #607
Sure, the following code should reproduce the pattern: create multiple threads bound to the same core, then each thread sets its own buffer for the GS register:
[code]

[2017-07-26 14:44] gweodoo opened #608 "Troubles with Memory placement"
Hi guys,

After checking that my threads are correctly pinned thanks to @rohgarg and PR #606, I see that memory is not remapped on the same NUMA node at restart. I don't know how it can occur, but if an other thread than the initial first one, reads and/or writes (depending on page property), then, the page will be mapped to the nearest DRAM for this thread, which can be different from before the

[2017-07-27 14:53] rohgarg commented on #607
@gweodoo: Thanks for sharing the code. Please go ahead and generate a pull request with your patch. I will approve and merge it.

Also, we should add your test case to `make check`, although I think the affinity bits are not required. If you want, I can try to clean up the test and generate a separate patch for `make check`.

[2017-07-27 14:59] rohgarg commented on #608
Hmm... interesting. I don't think DMTCP currently supports NUMA; but then again, we haven't really seen this use case in the past. Anyway, I would be happy to add this support.

Could you please share some simple test program that I could try? I'll see if can get access to a NUMA machine; I'll let you know if I am unable to get access to one.

[2017-07-27 16:08] gweodoo commented on #608
Sure, here a basic sample with only with one thread (needs libnuma to work):
[code]

Note that in this case, I don't have the issue at post-checkpoint step, only at restart (maybe our scheduler does some extra things, I'll check in detail if it remains after upcoming fixes).

Thanks.

[2017-07-27 17:12] rohgarg commented on #608
And that makes sense. The post-checkpoint phase (which we also call the "resume" phase) works within the same process. This implies that the process/thread attributes like CPU affinity/page placement, etc. are not modified; the attributes are just read and written to a checkpoint image on the disk. However, the restart phase executes within a completely new process. The new process is made to look

[2017-07-28 05:48] gweodoo commented on #608
That was what I think, but I can't explain why, with our MPI, the memory pinning changes at post-checkpoint stage. I'll see if a patch for the restart stage can also fix that.

Thanks.

[2017-07-28 06:08] gweodoo commented on #607
You want a PR with the workaround or the more generic solution ? Because the first one is implemented, the second one was just prospective. Maybe, as a first step, the hot fix could be used to fix GS specifically.

Yes absolutely, feel free to use this test for your validation system. The affinity is not mandatory but it was allowing me to check that the checkpoint was done in a per-thread basis (

[2017-08-04 19:41] jiajuncao opened #612 "Application hangs when certain handlers are registered at fork"
If the application registers a handler during ```fork()``` using ```pthread_atfork()```, the handler is called with the execution lock acquired, before ```fork()``` returns. If the handler tries to grab the lock again, or to wait for another thread to grab the lock, there is a dead lock issue. See the comment of ```pthread_atfork_prepare()``` in ```src/execwrappers.cpp```.

This issue is first fou

[2017-08-09 09:59] gweodoo opened #613 "Troubles when calling mpirun directly"
Hi guys,

All my previous work was based on using `srun dmtcp_launch ./a.out` style and I attempted to directly use `dmtcp_launch mpirun ./a.out`. I know this works when using non-interactive jobs but I'm working with interactive ones, where resources are allocated and a bash is run on the same node before the request. When I'm running the command, the `mpirun` process is located on the interactiv

[2017-08-11 12:48] shots47s opened #614 "Troubles running dmtcp in torque"
I am trying to run dmtcp with my python 2.7 application on a cluster that has a torque batch system.  I am using the example submission script in plugin/batch-queue/job_examples/torque_launc.job and torque_rstr.job

When I submit to create the checkpoint, I get the dmtcp file and the restart script.  When I try to restart from the checkpoint, I always get the following error:

[27945] mtcp_restart

[2017-08-22 16:00] planetA opened #619 "Segmentation fault upon restart in CP2K"
Hello,

I'm trying to restart a CP2K application from a checkpoint, but it fails.

Here is the message from restart script:

[code]

The log from coordinator is here: https://gist.github.com/planetA/d4f9b9a70983e9c673521625cc7ed2d9

I'm starting the application as follows:

[code]

I'm using the latest DMTCP version from git

MPI version is following:

[code]

It seems that the segfault happens in

[2017-08-27 18:01] harryj opened #620 "Segmentation fault at launch DMTCP 2.4.8 on redhat 6.6"
So we are testing dmtcp on a program for someone else and we don't have consistent access to the machine the test is run on. Some time after starting dmtcp_launch (but before any checkpointing) the program seg faults and we're trying to figure out why. I know the next step would be to run gdb to see what's going on but is there any way to analyze the core dump file? Which executable would we use i

[2017-08-28 05:45] heroxbd commented on #599
I can reproduce this bug with numpy-1.13.1.

[2017-08-28 06:41] heroxbd commented on #599
No, it is not numpy version specific.  It might be caused by OpenBLAS.  @rdp-dn, what BLAS implementation is your numpy-1.11 using?  And what is your numpy-1.12 using?

[2017-08-31 15:33] Baumga opened #621 "Multiple Checkpoints"
Using dmtcp as indicated in the documentation with the environment variable DMTCP_CHECKPOINT_INTERVAL set to some value gives me only a single checkpoint, i.e. a new checkpoint invocation will overwrite the files of the last checkpoint. Unfortunately, I could not figure out how to prevent this behaviour. So here are two questions:
1) Is there a possibility to keep all checkpoints made while the ch

[2017-08-31 15:38] rohgarg commented on #620
Hi @harryj: Sorry about the late reply. Since this is a pre-checkpoint issue, you can directly run under GDB to capture the stack trace.

    $ gdb --args dmtcp_launch <dmtcp-args> /path/to/your/program <program-args>
    ...
    (gdb) run
    (gdb) thread apply all bt

For the coredump, you should use the program executable.

    $ gdb /path/to/your/program corefile
    ...
    (gdb) thread apply

[2017-08-31 15:46] rohgarg commented on #621
@Baumga: Please find my answers below.

Yes. There's a configure option for this: `--enable-unique-checkpoint-filenames`.

    $ ./configure --enable-unique-checkpoint-filenames
    $ make clean && make

No, not right now. The problem with writing a generic solution is that the preferred order of overwriting the checkpoint images is unclear. While one user might want to overwrite the oldest image

[2017-08-31 15:53] rohgarg commented on #619
@planetA: Sorry about the delayed response. I vaguely remember seeing something like this before. It sounds like something @jiajuncao might have seen in his work.

As a quick test, could you retry after disabling the alloc plugin?

For debugging restart, you do need to explicitly specify the program executable to GDB. The stack trace looks okay to me.

[2017-08-31 15:58] harryj commented on #620
Hi Rohan, thanks for responding!

So from the stack trace it looks like the seg fault is caused by a call to readdir64 in libc. It says there are no symbol tables available so I can't see more than that. I can try to include the debug symbols from libc to get more information about the arguments and local vars and where in readdir64 the error happens.

Some more information: the main process runs

[2017-08-31 16:07] rohgarg commented on #620
I don't see any obvious issue from your description. It seems like it's the child process that segfaults.

Could you please share the stack trace?

One way to get the trace would be to follow the child process. For this, you'd have to run directly under GDB and type `set follow-fork-mode child` before the fork call. With this, GDB will attach itself to the child process when it gets forked. Finall

[2017-09-01 08:01] Baumga commented on #621
Thank you for your answer.
For an updated version of DMTCP, I suggest to include a command-line switch for dmtcp_launch to enable unique checkpoint filenames or give the user the possibility to choose a filename and simply append an integer indicating the checkpoint number.

[2017-09-01 09:16] planetA commented on #619
So, here is the backtrace:

    Thread 5 (Thread 0x2afbacdf5700 (LWP 27623)):
    #0  0x0000003afcadb78d in read () from /lib64/libc.so.6
    #1  0x00002afba99ad74a in _real_read (fd=821, buf=0x2afbacdf38a8, count=152) at syscallsreal.c:556
    #2  0x00002afba999755e in dmtcp::Util::readAll (fd=821, buf=0x2afbacdf38a8, count=152) at util_misc.cpp:295
    #3  0x00002afba99724fb in dmtcp::Coordinato

[2017-09-01 09:31] planetA commented on #619
Regarding disabling allocation plugin. I added --disable-alloc-plugin to dmtcp_launch. Upon restart it still crashes but with slightly different error message:

    Error: Could not re-reg the mr.
    <path>/dmtcp_rm_loclaunch: line 159:   405 Segmentation fault      (core dumped) dmtcp_restart --join --coord-host $DMTCP_COORD_HOST --coord-port $DMTCP_COORD_PORT $LOCAL_FILES

The first line seems

[2017-09-01 13:25] gc00 commented on #438
@jiajuncao, do the commits above now allow us to close this issue?  If so, could you do that?  Thanks.

[2017-09-08 07:23] #620 closed

[2017-09-08 07:26] harryj opened #625 "Way to kill process after checkpointing"
So I have a process that writes to a file periodically and after checkpointing, the process continues running and continues to write to that file. Is there an option or way to have dmtcp kill the process immediately after checkpointing instead of continuing execution?

[2017-09-13 00:32] rohgarg commented on #625
Hi @harryj, there's an existing option in dmtcp_coordinator for this. You can launch the coordinator with the `--exit-after-ckpt` option. This will kill the computation after the first checkpoint has been created.

Unfortunately, we don't have this option for `dmtcp_launch`/`dmtcp_restart` yet. I have a separate pull request where I have added this option to the two binaries. I enhanced the option

[2017-09-13 00:36] rohgarg commented on #625
Also, if you would like the coordinator to be killed after the last process has disconnected, without having to worry about killing a stray coordinator process, there's a `--exit-on-last` option. When the coordinator is launched implicitly in the background (for example, when one calls `dmtcp_launch a.out` directly), this is one of the options we use to make sure the coordinator process exits when

[2017-09-13 10:43] smuzaffar opened #627 "dmtcp with gcc 7: ISO C++ forbids comparison between pointer and integer"
which building the tip of dmtcp master branch using gcc 7.2.1 compiler we are getting this error
[code]

should not it be `if ((*portStr == NULL || (*portStr)[0] == '\0') &&`

[2017-09-26 12:11] boegel opened #630 "Can dmtcp_restart restore redirected stdout/stderr?"
I couldn't find any documentation on this, other than a couple of (very) old forum posts [1,2] that don't really answer my question, at least not for recent versions of DMTCP.

I'm testing DMTCP 2.5.1 as follows:

[code]

After checkpointing, I'm relaunching as follows (on a different host, but the .out and .err files are reachable since they reside on a shared GPFS filesystem):

[code]

I was exp

[2017-09-28 08:34] boegel opened #635 "--new-coordinator doesn't work with dmtcp_restart?"
When trying to use `dmtcp_restart --new-coordinator`, I ran into the following error (with DMTCP 2.5.1):

[code]

I ran into this consistently (with multiple different random ports), no other DMTCP coordinators were already running on that system.

Context: we're using DMTCP in a multi-user environment (HPC cluster), where each user can run different jobs. Because any stray child processes are aut

[2017-10-02 11:46] gc00 commented on #635
Hi @boegel, Sorry for the delay in getting back to you.

Locally, on my machine, I see:

[69469] WARNING at dmtcp_coordinator.cpp:1295 in calcLocalAddr; REASON='JWARNING(false) failed'
     "Failed to find coordinator IP address.  DMTCP may fail." = Failed to find coordinator IP address.  DMTCP may fail.
     hostname = login-students.ccs.neu.edu
  4   5 ...  # restart of dmtcp1

Admittedly, even

[2017-10-02 11:48] gc00 opened #637 "Spurious warning: Failed to find coordinator IP address."
`"Failed to find coordinator IP address. DMTCP may fail." = Failed to find coordinator IP address. DMTCP may fail.` occurs in many configurations in DMTCP 2.5.1.  For example,
 `dmtcp_restart *.dmtcp`

[2017-10-02 12:39] boegel commented on #635
@gc00 Thanks for the feedback. The `*.dtcmp` was a silly typo in the bug report, I was in fact using `*.dmtcp`.

I'm afraid granting you access isn't going to work, but I'm happy to work with you to try and debug this, like running the command the debug logging enabled and providing you the output.

Is there any additional info I can collect that would be helpful in figuring this out?

[2017-10-02 20:08] gc00 commented on #635
@boegel, Let's try, then, to debug this together.  In the next day or two, I'll give you a new tarball to try out (perhaps with extra print statements).  If you send me feedback, I'm sure we can quickly get to the bottom of this.

By the way, could you do:  `make display-build-env` on your system, and send the results to us?  Feel free to edit the output to anonymize any sensitive information and/

[2017-10-03 12:38] boegel commented on #635
Output of `make display-build-env`:

[code]

[2017-10-05 07:27] gc00 commented on #635
Thanks @boegel .  I had some other issues come up, and won't be getting back to this until the weekend.  But please do ping me if you don't see activity.  Thanks.

[2017-10-10 19:07] Twinklejain commented on #627
Closed via #641

[2017-10-10 19:07] #627 closed

[2017-10-19 17:26] harryj opened #643 "Best way to selectively checkpoint process from multiple dmtcp jobs?"
I have a situation where on one machine, multiple jobs can be started, each with its own dmtcp_launch. By default dmtcp_command -c will checkpoint all jobs, but what is the best way to selectively choose which job to checkpoint?

It seems one way would be to use --new-coordinator flag and then get the new coordinator's port (for example using --port-file), remember the port and use that to the por

[2017-10-20 23:56] #643 closed

[2017-10-27 10:48] gc00 opened #651 "Makefile.in refers to .git/hooks"
@karya0, @rohgarg:  In PR #446 (Nov., 2016), `Makefile.in` was modified to refer to `.git/hooks`.  But `Makefile.in` is shipped to the end users, and the end users receive a tarball _without_ `.git/hooks`.  We need to somehow make these git hooks conditional so that only the DMTCP developers see them.

[2017-11-21 22:33] gc00 opened #660 ""dmtcp_restart --help" is missing info about "--gdb""
`dmtcp_restart --gdb ckpt_*.dmtcp` exists, but `dmtcp_restart --help` doesn't document it.

[2018-01-10 07:54] joehrobot opened #670 "Fixing the Single Point of Failure of the ROS Master"
Hi,
I'm trying use dmtcp to fix the crash of the ROS Master,but there are many problems.
when dmtcp checkpoint,ROS will pause a few seconds,then It will cause ROSTCP crash and show this message "message of over a gigabyte was predicted in tcpros".
I can't use ROS node and the other ROS tool,when  dmtcp checkpoint.
so,I want to know how to realize "Fixing the Single Point of  Failure of the ROS Mas

[2018-01-11 19:13] rohgarg commented on #670
@Twinklejain Could you please follow up on this?

[2018-01-20 17:36] Twinklejain commented on #670
@joehrobot  DMTCP saves the state of the whole ROS application. So, DMTCP suspends both the master and ROS nodes while checkpointing. To make sure that DMTCP is causing the crash, Could you please share the backtrace of the crash?

[2018-02-02 09:28] phil294 opened #671 "Where is the GPU-plugin?"
http://dmtcp.sourceforge.net/dmtcp-mug-17.pdf and also http://dmtcp.sourceforge.net/ speak of the OpenGL DMTCP plugin. The entire publication can be found here https://arxiv.org/abs/1312.6650 and it says

for checkpoint-restart.

How and where is this plugin available? It is not listed in the plugins. https://github.com/dmtcp/dmtcp/tree/master/plugin

[2018-02-04 17:37] sbecuwe opened #672 "_magicBits mismatch: segfault"
Hello

I'm trying to use DMTCP 2.5.2 on a CentOS 7 system. A simple test job, which should end after restarting 8 times, always produces following output and would go on forever.

dmtcp_coordinator starting...
    Host: [...] (0.0.0.0)
    Port: 45731
    Checkpoint Interval: disabled (checkpoint manually instead)
    Exit on last client: 1
Backgrounding...
[16866] ERROR at dmtcpmessagetypes.cpp:5

[2018-02-04 18:19] karya0 commented on #671
The old plugin was discarded and some new work is in progress. We'll post an update once it's ready.

[2018-02-07 19:45] burlen opened #673 "Message: Still draining socket... perhaps remote host is not running under DMTCP?"
I want to run DMTCP on a Cray system and have tried with the system installed MPI(cray-mpich/7.6.2) and vanilla MPICH (3.2.0). neither work, both throw the same sequence of errors.

[code]

[2018-02-09 02:39] tom-li opened #675 "Can DMTCP be used for boost up App launching?"
Hi DMTCP R&D,

I am fairly new to DMTCP. I found that Kito-Cheng have use DMTCP to boost up Android system boot time serveral years ago. So I am wondering whether DMTCP could be used for speeding up apps' launching, on Android phone or on laptop.

For example, firefox's cold launch time is around 1.5-2s on my laptop (Ubuntu16.04). And Hearthstone's cold launch time is more than 3s on my Samsung No

[2018-02-10 20:21] rohgarg opened #676 "Bug in mixed mode (x32/x64)"
There's an interesting corner case for mixed mode
(x32/x64). This is easily reproducible. One can configure and build
DMTCP for mixed mode and run a 32-bit program, and it works. However, if the
program is launched from a shell script where it is specified as the
interpreter, it doesn't work.

[code]

The reason is kind of obvious from the strace. There's just one execve system call: `execve("./tm

[2018-03-14 13:20] FHedin opened #683 "orterun remaining in suspended mode (OpenMPI 2.1.1, dmtcp 2.5.2)"
Dear DMTCP programmers,

I am trying to use dmtcp for checkpointing my HPC application, MPI based, launched using mpirun 2.1.1

I first run a communicator in a dedicated terminal, and then execute the following :

`dmtcp_launch mpirun -mca orte_forward_job_control 1 -np 8 myapp`

Where myapp is my MPI app and ... are its command line arguments

Then the app runs properly ; I go back to the communi

[2018-03-21 06:44] lovemyliwu opened #684 "Unreachable. MAP_PRIVATE implies MAP_ANONYMOUS"
### loop.py
[code]

### version

dmtcp_command --version
[code]

### run with dmtcp

dmtcp_launch python scripts/demo/loop_stash_and_restore.py

### checkpoint and kill

dmtcp_command --checkpoint

dmtcp_command --kill

### restore error

./dmtcp_restart_script.sh

[code]

[2018-03-21 07:15] lovemyliwu commented on #684
after build on release not on master branch return normal

[2018-03-21 07:15] #684 closed

[2018-03-22 13:29] heroxbd commented on #582
I can confirm @rohgarg 's observation that dmtcp-2.5.2 fails for R on glibc-2.25.

[2018-03-28 21:34] skyripley commented on #683
Hi @FHedin,

https://github.com/dmtcp/dmtcp/blob/master/doc/debugging-dmtcp.txt has information on some useful debug options. To configure print debugging navigate to dmtcp and run the following commands:
[code]
This allows for a trace of the major dmtcp operations, and may give insight into the problem occurring. Check /tmp/dmtcp-USER@HOST for files of the form jassertlog.*, which contain copies

[2018-03-28 22:09] skyripley commented on #672
Hi @sbecuwe,

Can you provide the commands leading up to this error? The error:
[code]
is occurring because dmtcp can't find the coordinator at the given host/port. The commands leading up to this might help identify the root cause. Specifically, the launch command you ran and the restart command.

Thanks

[2018-04-21 19:10] bethven opened #685 "dmtcp_restart inside program"
Hello,
I am new to the use of dmtcp, I need to do a restart within a program in c and that is between a mpi_init and a mpi_finalize, but I do not know how to do it. I tried with ./dmtcp_restart_script.sh inside the program but it does not do anything. I would appreciate your help.

[2018-06-03 15:56] planetA opened #694 "DMTCP with UCX"
Hello,

is there support of [UCX](https://github.com/openucx/ucx) in DMTCP. Right now when I try to launch an MPI program compiled against a recent OpenMPI with UCX I get following error message:

Note that I set DMTCP_SIGCKPT to 25, but I used other numbers as well.

The actual error is:

The backtrace for this error is:

[2018-07-16 23:39] jabish opened #697 "gdbserver"
instead of gdb on local after restart.  I need to be able to attach remote.  So I run dmtcp_restart ckpt_*.dmtcp and I get the prompt to connect gdb but I start gdbserver :5039 --attach <pid>.  Then when I connect remote or local to :5039 I get error about i386 arch instead of i386:x86_64.  Any ideas?

[2018-07-24 20:56] jabish commented on #697
guys any help here?  this is blocking something really cool for me.

[2018-07-30 00:32] opoplawski opened #698 "Fails to build on aarch64"
Failing to build in Fedora Rawhide on aarch64 - __NR_getpgrp and __NR_fork are no longer defined.

[2018-07-30 00:32] opoplawski commented on #698
[code]

[2018-07-31 09:10] gc00 commented on #698
Hi Orion,
    Thanks for reporting this.  We have fewer users for ARM, and
so we don't test as often.  Could you give us a few more details?
    An easy way to do that is in the top-level directory, to do:
  make display-build-env
and paste the results back to us.  Especially, we would want to
know which Linux distro you're using.

Best,
- Gene

[2018-08-09 08:25] GrachevaAS opened #699 "Ptrace plugin"
Hello,

could you please tell why the ptrace plugin was disabled and whether there are plans to revive it?

[2018-08-11 01:54] jabish commented on #697
resolved the issue.  It was problem with old system running 3.0.1 kernel and remote clients using 4.1X

[2018-08-11 01:54] #697 closed

[2018-08-30 19:24] bethven opened #702 "Problem with Slurm and DMTCP"
Hello,
This is the first time that I use SLURM with DMTCP, I followed the instructions of dmtcp /plugin/batch-queue/job_examples modified the file slurm_launch.job but could not do the checkpoint.
The line that they say I should modify, I did it in the following way:
srun dmtcp_launch --rm -i 10 cg.B.4

The error is:
slurmstepd: error: Unable to create TMPDIR [/scratch/1504221]: Permission denied

[2018-09-13 08:31] nathanweeks opened #704 "dmtcp_launch man page omission"
The dmtcp_launch(1) man page DESCRIPTION section is currently:

[code]

In particular, it's missing the subsequent lines:

[code]

[2018-09-18 18:33] nathanweeks commented on #704
One more typo in the dmtcp_launch(1) man page:
[code]
`-interval` should be `--interval`

[2018-09-19 16:31] mamelara opened #708 "DMTCP seg faults using python"
Hello! Wondering if this is the right place to post issues or on sourceforge. We are trying to get dmtcp installed on our cluster here at NERSC and I am running into an odd issue.

## Issue
dmtcp seg faults whenever I try to run a command
[code]

## Expected
dmtcp to launch the spades.py --test which results in the following output
[code]

I've noticed that this actually happens even with simple h

[2018-09-19 18:30] JainTwinkle commented on #588
Which version of DMTCP are you using?
I am using DMTCP version 3.0 at my local PC and not seeing the same error. I do have an account on Cori. However, Cori is down at this moment. I can try to reproduce once Cori is up.

[2018-09-19 18:31] JainTwinkle commented on #708
Which version of DMTCP are you using?
I am using DMTCP 3.0 at my local PC and not seeing the same error. I do have an account on cori. However, Cori is down at this moment. I can try to reproduce once Cori is up.

[2018-09-19 18:36] mamelara commented on #708
2.5.2 is the version for the latest release. Is the current git repository v3.0? This is on our Denovo cluster which is different than Cori. I have also considered that this could be a system config issue as well but I'm not 100% certain.

I'll try out 3.0.

[2018-09-19 21:35] mamelara commented on #708
Update: Looks like version 3.0 also gives the same seg fault

[2018-09-19 21:53] gc00 commented on #708
Rohan,
    I vaguely remember you telling me that there was a single, particular
version of Python (or other package?) that created a problem for DMTCP,
but that all other version (before or after) worked fine.  Do I remember
this correctly?

Hi Mario,
    While we're waiting on Rohan's answer, I have a thought on how to
proceed if my memory is correct.  It's actually not hard to download
and comp

[2018-09-19 23:06] michaelgreenburg opened #709 "--enable-infiniband-support not working"
When I try to `configure` then `make` DMTCP 2.5.2 (from the Sourceforge tarball) like so:

[code]

...`make` runs for a little bit, but dies with the following error:

[code]

Doing as directed (`$SRC/configure --enable-infiniband-support; make clean; make`) just leads right back to the same issue. This happens with or without the `--prefix` and `--enable-pthread-mutex-wrappers` flags as well.

Th

[2018-09-20 19:28] gc00 commented on #708
Rohan (@rohgarg),
    Does this strace output, below, remind you of anything?
Twinkle,
    Were you able to test Python on Cori/NERSC yet, to see if
you can reproduce the issue?

Best,
- Gene

----- Original Message -----
From: "Mario Melara" <notifications@github.com>
To: "dmtcp/dmtcp" <dmtcp@noreply.github.com>
Cc: "Gene Cooperman" <gene@ccs.neu.edu>, "Comment" <comment@noreply.github.com>
Sent:

[2018-09-20 19:52] JainTwinkle commented on #708
@gc00  I tried to reproduce the same error on Cori (both login and compute node). But, I don't see any error on Cori. According to @mamelara, Cori is different than their system (Denovo). So, I am not sure whether running on Cori would help much.
--Twinkle

[2018-09-20 19:56] mamelara commented on #708
Hi yes,

Working on Cori is our workaround but it's still a mystery to me as to what would be the main problem between Denovo and Cori. I could maybe grant access to Denovo if you already have a NERSC account just to test it out.

Also upon Cori returning one of our users decided to run dmtcp_launch with the example shown above and noticed a significant difference in the time it takes to run and c

[2018-09-20 20:11] JainTwinkle commented on #708
@mamelara If you could grant access to Denovo then it would be easy for me to debug the issues. My username is `tjain`.
Thanks,
--Twinkle

[2018-09-21 16:30] mamelara commented on #708
@JainTwinkle are you able to access Denovo? No rush of course. Just want to make sure everything works for you.

[2018-09-22 02:41] JainTwinkle commented on #708
@mamelara Yes, I was able to access denovo. I tried as you said.
`
$ module load dmtcp/2.5.2
$ dmtcp_launch --version
dmtcp_launch (DMTCP) 2.5.2
License LGPLv3+: GNU LGPL version 3 or later
    <http://gnu.org/licenses/lgpl.html>.
This program comes with ABSOLUTELY NO WARRANTY.
This is free software, and you are welcome to redistribute it
under certain conditions; see COPYING file for details.
$ d

[2018-09-25 20:23] aclum opened #710 "spades program hangs when run with dmtcp_launch"
Hi,
I'm trying to run a bioinformatics program, spades and it hangs when I try to run it with dmctp_launch

spades can be downloaded as a binary or as conda package using the bioconda channel
conda install spades
The following hangs
dmtcp_launch spades.py --test

To try and isolate the problem i ran single threaded with strace.
Based on that it is hanging on a read until I manually kill the proces

[2018-09-26 00:00] aclum commented on #710
Note that the child python process is blocking on pthread_mutex_lock() that is part of the jemalloc library, while dmtcp is processing the fork() request that OpenMP calls while the executable spades_hammer is starting (via Python's subprocess.Popen)

   proc = subprocess.Popen(cmd_list, stdout=subprocess.PIPE, stderr=subprocess.STDOUT, cwd=cwd)

regan    39165 39153  0 16:23 pts/4    00:00:00 /gl

[2018-09-26 22:05] gc00 commented on #710
Hi Twinkle (@jaintwinkle),
    Had you seen this message?
    (I apologize if you've already replied to it.)
Best,
- Gene

----- Original Message -----
From: "aclum" <notifications@github.com>
To: "dmtcp/dmtcp" <dmtcp@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Sent: Tuesday, September 25, 2018 8:00:57 PM
Subject: Re: [dmtcp/dmtcp] spades program hangs when run with dmtcp_

[2018-09-29 16:48] JainTwinkle commented on #710
Hi @aclum,

Thanks for posting the issue. It would be helpful if I can get some more information from your end.

Which kernel version are you using to test?  It seems to me that the old kernel version can be the potential reason for this bug. I was able to reproduce the same error on kernel version 2.6.32. However, I don't see any error on a recent kernel (4.4). We are also speculating the issue a

[2018-10-01 15:57] aclum commented on #710
Hi,
We are using  4.4.103-6.38_4.0.149-cray_ari_c. DMTCP version is 3.0.0.  We
are working on the Cori system at NERSC, I believe you guys have a
collaboration so let them know if you need guest accounts.

On Sat, Sep 29, 2018 at 9:48 AM, JainTwinkle <notifications@github.com>
wrote:

[2018-10-08 17:16] aclum commented on #710
Any update on this?

[2018-10-16 22:18] aclum commented on #710
Any update here?

[2018-11-01 20:38] mamelara commented on #710
@Twinklejain is this being looked at still?

[2018-11-19 23:11] rohgarg commented on #710
@mamelara: Sorry for the delay. Twinkle and I have identified the root cause, and we have a patch that fixes the issue. Twinkle is cleaning up the patch and preparing it to share with you.

Thanks!

[2018-11-19 23:15] mamelara commented on #710
@rohgarg that's great! @aclum once the patch is in we should check it out again.

[2018-11-20 18:22] JainTwinkle commented on #710
Hi @mamelara  @aclum

I have just pushed the patches to my local branch `spades_debug` [https://github.com/JainTwinkle/dmtcp.git](https://github.com/JainTwinkle/dmtcp.git). Specifically, the last two commits (e7544de, 4927f9d) should solve problems with `spades.py`. I have tested the patches on `denevo`. I used the following steps:
1) `module load spades/3.12.0`
2) `which spades.py`
`/usr/common/j

[2018-11-21 18:41] aclum commented on #710
Hi,
Mario was able to install the patch for me. I confirmed that now dmtcp_launch works I can get spades to complete successfully.
However, restarting from a checkpoint doesn't work.
on both cori and denovo:
dmtcp_launch spades.py --test  > spades.log 2> spades.err &
dmtcp_command --checkpoint
 dmtcp_restart ckpt_spades*dmtcp
[24732] ERROR at dmtcp_restart.cpp:932 in main; REASON='JASSERT(independ

[2018-11-21 18:49] gc00 commented on #710
Hi,
    Twinkle will be able to look at this soon.  But I have a short
question for now.  You ran using:
  dmtcp_launch spades.py --test > spades.log 2> spades.err &
Could you try running simply as:
  dmtcp_launch spades.py --test
and see if you can restart?  Perhaps, the issue that you're seeing
is related to I/O redirection.  So, let's separate out these
two issues.

Thanks, - Gene

----- Origin

[2018-11-21 18:51] rohgarg commented on #710
@aclum: Thanks for testing this. @Twinklejain and I will take a look and get back to you. We did test out checkpoint-restart, and it seemed to be working. We hadn't tried with I/O redirection though. I'm not sure if that's the issue here; we'll test this.

[2018-11-21 20:42] shinesli1990 opened #720 "Datagram Sockets not supported warning"
I am trying to get DMTCP to work with slurm on HPC environment. I tried to start a dmtcp_coordinator in one terminal. And run dmtcp_launch to start LAMMPS software and running in parallel.

The LAMMPS code will run after the following warning messages. If I used slurm job submission script, the warning message will kill the job before starting.

I've searched issues related with this Datagram sock

[2018-11-22 01:21] aclum commented on #710
Would you tell me where your build is located? When I try and run make
check on Denovo I get
nocheckpoint   ckpt:PASSED rstr:PASSED; ckpt:FAILED
               root-pids: [5514] msg: checkpoint error, 1 expected, 2
found, running=0
== Summary ==
dint06: 59 of 61 tests passed
Makefile:149: recipe for target 'check' failed
make: *** [check] Error 2

On Tue, Nov 20, 2018 at 10:23 AM JainTwinkle <noti

[2018-11-28 18:33] grod-uy opened #721 "Problem to restart job under slurm"
Hi, i'm trying to use dmtcp, I followed the instructions of dmtcp /plugin/batch-queue/job_examples but could not restart the job.
The checkpoint files are generated but when i restart the job get no output or error, how i can get some info about what is happening?

Thanks

[2018-12-10 01:53] solstag commented on #426
I'm also facing this, with python3.6

[2018-12-24 00:37] mmore500 opened #723 "JASSERT triggered while checkpointing inside Singularity container"
[Singularity](https://www.sylabs.io/singularity/) is an open source-based container platform designed for scientific and high-performance computing (HPC) environments. There's [some interest](https://github.com/sylabs/singularity/issues/468), myself included, in performing checkpoint-restart within these containers.

So, I put together a minimal working example of checkpoint-restart in a Singulari

[2019-01-02 16:35] haimivan opened #724 "import dmtcp fails"
Hi,

I installed dmtcp in ubuntu 14.04 via the instructions in: https://github.com/dmtcp/dmtcp/blob/master/INSTALL.md

During the installation process, I also was asked to install dmtcp via the ubuntu package installation procedure (`sudo apt-get install dmtcp`), therefore it seems that I have now two different versions installed in parallel.

In the end, I face two difficulties presently:

1. `ma

[2019-01-03 05:39] haimivan commented on #724
I managed to uninstall the old dmtcp version via `sudo apt-get remove dmtcp`. So, I have now the present version of dmtcp installed:
[code]

But still the `make check` fails.
So my questions are:

**a) Is dmtcp meant to be installed on a Python3.x system, or is only a Python2.x installation foreseen?**

**b) should executing `dmtcp_checkpoint python` automatically make `dmtcp` available in a pytho

[2019-01-07 19:58] haimivan commented on #724
Hi,

thanks for your reply.

Indeed I meant http://iopscience.iop.org/article/10.1088/1749-4699/8/1/014005/meta .

In the moment, I am focussing to solve my usecase with some code I will program myself. Therefore, presently I have no further question.

Thanks again!

[2019-01-07 19:58] #724 closed

[2019-01-17 19:55] jeageunjung opened #725 "Error when checkpointing using DMTCP with MPI"
I am struggling to implement dmtcp to mpi application. For that, I just use demo-code in [here](https://raw.githubusercontent.com/cornellcac/CR-demos/master/demos/MPI/mpi_count.c), but it’s not working. ( I also add the line ‘#include “dmtcp.h”) First, when I just type this command, there is out put like this.

Input :
`bin/dmtcp_launch -i 1 -p 4341 ./IMPLEMENT/mpi_demo/mpi_count`

Output :
[code]

[2019-02-19 16:42] johannst commented on #672
Hi,

I wanted to check if there is any update to this issue, as I am having similar problems on CentOS 6.6 (2.6.32-696.30.1.el6.x86_64)

For me however the issue already occurs after two restores:
[code]

When running line 6, the restored process SEGFAULTs and the dmtcp_command reports
[code]

I also tried to write every checkpoint to a separate location to make sure I have "clean" checkpoint file

[2019-02-23 15:32] wangzhenliang opened #729 "libdmtcp_pid.so: undefined symbol"
I have an error about DMTCP:
dmtcp-2.5.2/lib/dmtcp/libdmtcp_pid.so: undefined symbol: _ZN5jalib25JBinarySerializeReaderRawC1ERKNSt7__cxx1112basic_stringIcSt11char_traitsIcEN5dmtcp10DmtcpAllocIcEEEEi

LD_LIBRARY_PATH:
tools/gcc-6.4.0/lib64:
tools/gmp-6.1.2/lib:
tools/mpfr-4.0.1/lib
tools/mpc-1.1.0/lib
tools/gmp-6.1.2/lib
tools/mpfr-4.0.1/lib
tools/mpc-1.1.0/lib
tools/dmtcp-2.5.2/lib/dmtcp

[2019-02-24 04:51] opoplawski opened #730 "Fails to build with gcc 9"
Trying to build with GCC 9 for Fedora Rawhide.  I get:
[code]
There are also a number of warnings like:
[code]

[2019-02-24 04:52] opoplawski commented on #730
[code]

[2019-02-24 04:53] opoplawski commented on #698
This started on Fedora 29, still fails on Fedora rawhide:
[code]

[2019-03-22 18:28] swhitman0 opened #731 "Zombie processes created on Kubernetes"
Hello,

We're using DMTCP version 2.5.2. Our application checkpoints itself by calling dmtcp_checkpoint(). We noticed that zombie processes are created when running in Kubernetes. The program is called storm_model.exe. Here is a short listing from ps:
[code]
We added the --no-gzip flag to dmtcp_launch which prevented gzip zombies, but we are still plagued by the DMTCP zombies.
Any idea on how to r

[2019-03-27 22:42] gc00 commented on #731
Hi,
    Can you clarify a little?  Are you saying that no
checkpoint is created, and the running process turns into
a zombie process?
    Also, have you tried testing outside of Kubernetes in
standard Linux?
    Is there a version of your code that we could test locally
at our site?

Thanks,
- Gene

----- Original Message -----
From: "swhitman0" <notifications@github.com>
To: "dmtcp/dmtcp" <dmtcp@

[2019-04-11 13:25] expiluis commented on #672
Hi,

I'm trying to use dmtcp-2.5.2 and it's happening the same on Centos 7.2 (3.10.0-957.5.1.el7.x86_64)
Someone knows more about this?

Thanks

[2019-04-26 00:52] yxz900 commented on #694
Hi,
Is it possible for you to share the patch for the shmat error?
Thanks!

[2019-05-04 19:01] asl commented on #710
Note that running SPAdes along with DMTCP might be a bit nontrivial. And this is why: SPAdes contains of python "driver" and several standalone binaries that are run in the pipeline by a python driver script. So, checkpointing / restoring the python script state is pretty much useless. One needs to have tighter integration to save / restore binaries state...

[2019-05-07 15:24] planetA commented on #694
@yxz900 Sorry for late response. It was quite silly from my side not to post patch immediately, because I cannot find it right now.

[2019-05-15 20:44] swhitman0 commented on #731
DMTCP worked fine. It created checkpoints. No zombies were created with standard Linux. It was not the running process that turns into a zombie, I believe it was the process that communicates with the coordinator.

I think it has to do with the way processes are handled in a kubernetes pod. I used python to spawn the process. I fixed the problem by iterating over all of the child processes of the

[2019-05-15 20:45] #731 closed

[2019-05-15 21:08] swhitman0 opened #733 "Intermittent JASSERT"
We are using DMTCP 2.5.2 and sometimes get these messages in the debug log:

[code]
This only happens sometimes. Most of the time the exact same checkpoint image starts without a problem. Any ideas what is going on?

Thanks,
-Stu

[2019-05-20 12:47] swhitman0 opened #734 "stability of 2.6 branch"
We are using version 2.5.2. I noticed there is a 2.6 branch. Should I be using the 2.6 branch instead of version 2.5.2?

[2019-07-20 00:42] rohgarg opened #744 "libdmtcp initialization"
There appears to be a fundamental flaw in the design of the initialization
within libdmtcp.

The current design is this:

[code]

In the previous design, all the initialization work used to
happen in the constructor. However, that design failed because some
base library (e.g., libmpi.so), which gets initialized ahead of
libdmtcp.so, could call a wrapper function in its constructor. We
had multiple

[2019-07-20 00:44] rohgarg commented on #744
The issue reported in PR #743 is another example of this issue. I think the patch there fixes this partially, but not completely.

[2019-07-20 06:55] gc00 commented on #744
@rohgarg:  Very nice analysis.  This corresponds well to what I am seeing.  I've now added a special comment in PR #743 to describe the sense in which this seems to be only a partial fix.  But in the interests of the DMTCP-2.6.0 release, I'm looking to have PR #643 approved now, while this issue will remind us of the FIXME for the future.

[2019-07-21 21:49] gc00 opened #749 "PR #745 causes pthread3 test to fail in DMTCP-2.6.0 and master"
PR #745 causes the pthread3 test to fail on CentOS 7.5 (and probably in other distros).

Note that the enhancement of PR#475 for robust threads and threads with `owner` applies only if DMTCP is configured with `./configure --enable-mutex-wrappers`. The `--enable-mutex-wrappers` flag is not the default since it can add some runtime overhead if mutex operations are used very frequently.

This bug mu

[2019-07-22 21:07] dmontezanti opened #750 "Cannot checkpoint MPI application from inside"

[2019-07-22 21:08] dmontezanti commented on #750
Hi!

We are using DMTCP (version 2.4.4) to checkpoint an MPI application (Open MPI 1.7.5), and we are finding some trouble. Linux version is Debian 6.0, the cluster has Intel Xeon e5405 processors and a Gigabit Ethernet connection.

Primarily, we are trying to trigger the checkpoint from inside the application (include dmtcp.h), and calling the function dmtcp_checkpoint(). Both checkpoint and rest

[2019-07-25 18:38] jakesauter commented on #671
Has there been any update to this plugin?

[2019-08-01 21:34] gc00 opened #752 "Slow restart if ckpt image files on NFS filesystem"
In `make check-zsh`, it was observed that the checkpoint image file is very large (including about 100 MB for /usr/lib/locale/locale-archive).  For other tests (e.g., bash), the size of this portion is much smaller (maybe related to whether the environment variable `LANG` is defined).
When restarting, there are ckpt images for 'zsh' and for 'sleep'.  This results in thrashing on the NSF filesystem

[2019-08-14 06:24] gc00 opened #764 "In restore_term_settings(), we can see "skip restore terminal step -- we are in BACKGROUND" for an unknown reason"
In `test/plugin/applic-initiated-ckpt`, if we do 'make check', we correctly see at the end:
[code]

But if we then execute `./dmtcp_restart_script.sh` (with no intervening `make clean`), then we see the following warning, and we can no longer place the restarted process in the foreground:

[code]

We should understand why this occurs, and fix it.

[2019-08-14 06:36] gc00 opened #765 "Bad race condition with ckpt of multiple user threads, with one thread in pthread_join()"
This description of the race condition can be improved, and an automated gdbinit file can be created to reproduce this bug.  But for now, I don't have the time.  So, here is an informal description of the bug:

Testing test/pthread1:
SEE END OF THIS FILE FOR stack OF thread 2 (ckpt thread) and thread 4.

Thread 2 (ckpt thread) has the write lock, and is trying to quiesce the others.
Thread 4 is bl

[2019-08-16 17:03] gc00 commented on #765
And @karya0 had noted:

@gc00: Would it help if we created a new dmtcp-specific mutex type with corresponding dmtcp_mutex_lock, dmtcp_mutex_unlock, etc.? This has been on my radar for a while due to the involvement of barries/mutexes in the low-level design. Essentially, I want to go back to Mike's original futex approach, but with proper abstractions this time around. That way we would be self-su

[2019-08-29 10:14] loveshack commented on #698
2.6.0 fails differently.  Output from a build on EL7 aarch64 is temporarily at
https://copr-be.cloud.fedoraproject.org/results/loveshack/testing/epel-7-aarch64/01023511-dmtcp/build.log.gz
The initial error is
[code]
Recent Fedora has the same error.

[2019-08-30 20:57] gc00 commented on #698
Hi Dave,
    Thansk very much for reporting this.  I don't have easy access to the aarch64 architecture.
    Would it be possible to arrange for a temporary guest account for me, so that I can fix this, just in case?
    In the meantime, I can try to run on Intel/AMD here for now, to see if I can locally generate a similar bug.
Thanks,
- Gene

________________________________________
From: Dave Lo

[2019-09-02 10:07] loveshack commented on #698
Sorry, it was the Fedora build system, so no, unless you have a Fedora
developer account.  I'll ask for advice on it and let you know.  (I'm
not the package maintainer for dmtcp, but was int rested in the current
version, and the previous one wasn't built on aarch64 for a different
reason.)

Those built OK.  (I'm surprised no-one has done a ppc64le port.)

[2019-09-03 08:37] gc00 commented on #698
Thanks, Dave.

We haven't had much demand for PPC so far.  But DMTCP could definitely be ported to that.

Best,
- Gene

________________________________________
From: Dave Love <notifications@github.com>
Sent: Monday, September 2, 2019 6:07 AM
To: dmtcp/dmtcp
Cc: Gene Cooperman; Comment
Subject: Re: [dmtcp/dmtcp] Fails to build on aarch64 (#698)

Sorry, it was the Fedora build system, so no, unles

[2019-09-04 13:54] loveshack commented on #698
I noticed the Fedora package maintainer is Kapil Arya, who could use Fedora aarch64 shell access if he's still active, so I won't pursue this for now.  See https://fedoraproject.org/wiki/Test_Machine_Resources_For_Package_Maintainers

[2019-09-04 13:56] loveshack commented on #730
It's fixed in 2.6, for which I added a Fedora pull request.

[2019-09-04 16:55] gc00 commented on #698
Hi Dave,
    Thanks.  Kapil Arya is active and is the Fedora maintainer, but he has less time these days.  I'm cc'int to him.
    It would be best if we can switch the maintainer from Kapil Arya to Paul Grosu (also cc'ed here).  I know that I could figure this out on my own, but since I have you on the line, could you give us a pointer to switching to a new Fedora package maintainer?

Thanks,
- Ge

[2019-09-04 17:05] gc00 commented on #730
Confirmed.  DMTCP-2.6.0 supports gcc-9.  I am closing this issue.

@loveshack , Thanks for adding the Fedora pull request.  We would like to change the Fedora maintainer from @karya0 (who has less time now) to @pgrosu .  If you have a pointer on how to do this, that would be helpful.

[2019-09-04 17:05] #730 closed

[2019-09-04 18:35] opoplawski commented on #730
@karya0 would go to https://src.fedoraproject.org/rpms/dmtcp/settings#usersgroups-tab and add @pgrosu - presuming that @pgrosu is already a Fedora maintainer.

[2019-09-04 21:04] gc00 commented on #730
@pgrosu is not yet a Fedora maintainer.  What do we need to do to qualify @pgrosu as a Fedora maintainer for DMTCP?  Thanks.

[2019-09-05 09:30] loveshack commented on #730
The instructions are at
https://fedoraproject.org/wiki/Join_the_package_collection_maintainers
The difficult bit is getting sponsored.

I've lost track of current policy, but I think dmtcp is in danger of
falling out of Fedora, along with the EPEL versions which is all I
actually care about.  The source for recent releases is marked "dead"
due to build failures.

If Kapil could add me as an admin,

[2019-09-07 11:35] ginward commented on #324
Do you think the `"--exit-after-ckpt"` command will work for you? Ideally it will exit the program after checkpointing, so it won't write duplicate data to the disk.

[2019-09-11 12:02] loveshack commented on #698
Further to the comments in the closed #730, it seems the Fedora package will need re-reviewing as it's already retired. I could do the review if Paul can re-submit it, but I can't sponsor him as a maintainer.

[2019-09-11 14:18] opoplawski commented on #698
Actually, you have 8 weeks to un-retire without a review. https://fedoraproject.org/wiki/Orphaned_package_that_need_new_maintainers#Claiming_Ownership_of_a_Retired_Package  But since Paul is not yet a maintainer - it would be good for him to do a review of the package.  I could sponsor him as well.

[2019-09-18 03:07] pgrosu commented on #698
Hi Orion (@opoplawski) and Dave (@loveshack),

Thank you for the opportunity of sponsorship.  I apologize for the delayed response as I was trying to familiarize myself with the Fedora process.  Let me first get in touch with Kapil, as based on the build log it is an older version of DMTCP and we just recently released 2.6.0-2.

I'll be in touch soon.

Thank you in advance,
Paul

[2019-09-18 08:56] loveshack commented on #698
I don't know what you're looking at, but the version I partially built in copr is 2.6.0, which is the latest I can see.
The only issue is the aarch64 failure.

--
Sent from a pocket telegraph machine; excuse the result.

[2019-10-03 18:09] michaelgreenburg commented on #709
I had forgotten about this issue until I tried using `--enable-infiniband-support` with DMTCP 2.6.0 today. Here's how make failed this time:

[code]

Would it be safe for me to simply comment out `ibv_get_device_guid` in infinibandwrappers.c or something?

[2019-10-14 09:59] mslacken commented on #709
For me this looks as another issue than the first one, but I also see this error on openSUSE Tumbleweed, with rmda-core 25.1

[2019-11-06 23:11] ginward opened #790 "GLIBCXX_3.4.20 NOT FOUND"
The following errors occurred when I try to invoke dmtcp:

[code]

Any idea why?

[2020-01-24 01:18] staheri opened #830 "SLURM-DMTCP-Segfault"
I have been trying to checkpoint and restart an MPI application on two nodes (8 processes total). I had resolved different errors due to wrong paths, versions, and flags until I get a segfault.
Here are the versions that I am currently using:
•	MPI: OpenMPI (OpenRTE) 2.1.2
•	GCC: 4.8
•	DMTCP: 3.0

For the batch submission script (SLURM), I used the start_coordinator function in the [sample file](h

[2020-02-05 22:32] staheri commented on #830
The error printed on the output file of the remote job:
mpirun noticed that process rank 7 with PID 51000 on node r139 exited on signal 11 (Segmentation fault).

[2020-02-19 07:25] hprocpoint opened #832 "Getting error "Cannot figure out glibc version" on dmtcp_launch"
Trying to run dmtcp on redhat 7.6 x86_64 with glibc 2.17-260. Any help would be greatly appreciated, thanks!

[2020-02-19 09:58] gc00 commented on #832
Hi @hprocpoint , Can you give us a few more clues.  :-)

First of all, I search through the DMTCP source, and I'm not seeing:
  "Cannot figure out glibc version"
from DMTCP.  Are you sure that message is coming from DMTCP?

Next, for more information, which version of DMTCP are you using?   One easy way to provide full information is:
  `make display-build-env`

Second, did you try:
  `make check`

[2020-03-19 07:07] hprocpoint commented on #832
Hi, we realized it was an error coming from the application itself not dmtcp. Thanks though!

[2020-03-19 07:07] #832 closed

[2020-03-19 07:09] hprocpoint opened #839 "Getting *Error: vdso size mismatch. on restart"
Hi, when trying to restart a checkpointed job we are getting an error in mtcp_restart.c:666 vdso size mismatch. If anyone could provide more information as to why this might be happening and how to fix it that'd be great, thanks!

[2020-03-19 08:47] nausca commented on #839
hi,
do you restart at different host?
to restart a checkpoint at the same linux distribution is safer.
for example, checkpoint at EE5.5 -> restart at EE5.5 as well
thanks.
nausca.

hprocpoint <notifications@github.com> 於 2020年3月19日 週四 下午3:09寫道：

[2020-03-19 15:29] harryj commented on #839
ah ok thanks for the help nausca. I'll check on that. Is there any way to support restart on different distribution? For example redhat 6.6 to 6.10 or 6.10 to redhat 7?

[2020-03-20 00:22] nausca commented on #839
Hi,
They use different linux kernel, if those kernel don't have major patch, it
might be safe to checkpoint/restart between these distributions.
But for VDSO size issue, I don't think we have a solution now. even we
checkpoint at a smaller VDSO sized systerm and try to force it to restart
at a larger VDSO sized host,
The restarted old VDSO image just don't work in the new host. That was my
experie

[2020-04-13 20:08] wpence opened #842 "dmtcp with dynamic instrumentation (dynamorio, Intel pin)"
Our use case is attempting to use dmtcp to wrap a target application that is wrapped with a dynamic instrumentor like the Intel pin tool or in our case dynamorio. I've simplified our use case into the following simple scenario where I'm seeing a crash when checkpoints are being created:

- Ubuntu 18.04 machine
- Build simple application in C that infinitely loops (call it a.out)
- Using dynamorio

[2020-04-24 16:15] wpence commented on #842
Also verified the same problem on CentOS 8.1 with dmtcp 2.6.0 and DynamoRIO 8.0.0

[2020-04-27 14:09] GuillaumeLepoutere opened #843 "symbol lookup error: /PATH/libdmtcp_batch-queue.so: undefined symbol: process_fd_event"
Openmpi : 4.0.2
GCC : 9.2
PMIX : 3.1
Slurm 17.02
test : dmtcp/plugin/batch-queue/job_examples/slurm_launch.job with <yourbinaries>=hostname

Everything is in the title. The symbol "process_fd_event" is undefined and  I do not find where this symbol must be.

Thanks in advance,
Guillaume L.

[2020-04-27 22:01] mjbludwig opened #844 "Invalid pointer when running matlab 2019a with dmtcp"
Hi All,

Forgive me if this was addressed in another issue. I am getting the following when running a matlab script with dmtcp:

I have attached a tar with my dmtcp launch script, matlab script, a core dump and the Slurm output file that includes this error.

Thanks!

[dmtcp_debugging.tar.gz](https://github.com/dmtcp/dmtcp/files/4542213/dmtcp_debugging.tar.gz)

[code]

[2020-05-10 20:40] hprocpoint opened #846 "Restarting on machine with different CPU architectures"
hello, does DMTCP support restarting on a different machine than a program was originally started on if the new machine is a different CPU architecture? I'm guessing if it's a completely different architecture ie Intel to ARM probably wouldn't work but for example haswell and skylake?

I know DMTCP saves things like register states which may be dependent on the architecture? Thanks in advance for

[2020-05-11 17:32] ffayton commented on #843
Same here today.  Any help is useful.

[2020-05-12 10:03] gc00 commented on #843
Hi Guillaume,
    I apologize for not getting back to you earlier.  We are in an intense development effort at the moment.
    From the title, I assume that you are working with Slurm and probably MPI.

The good news is that the intense development is to support a more robust handling of MPI/Slurm by DMTCP.  This will replace the batch-queue plugin.  Right now, we are emphasizing MPICH and its der

[2020-05-12 12:37] GuillaumeLepoutere commented on #843
Hi Gene,

I'm glad to read this.
My compagnie work with OpenMPI and Slurm. We study to offer a checkpoint/restart service to our customers so we are interested by your development and very impatient about this !

For me, I can wait a little for your new support of Slurm/MPI, but I do not know for ffayton.

Regards,
Guillaume

[2020-05-13 07:41] gc00 commented on #843
Hi Guillaume,
    If you want to read more about the path that we are following, then please look at:
    http://dmtcp.sourceforge.net/publications.html
    [Search on "MANA"]

The paper is here:
  http://www.ccs.neu.edu/home/gene/papers/hpdc19.pdf
The slides are here:
  http://dmtcp.sourceforge.net/papers/hpdc19-slides.pdf

We are setting this up now for production use at NERSC supercomputer cent

[2020-05-14 20:10] ffayton commented on #843
Thanks Gene!  I am new to DMTCP but SLURM support is definitely needed for
us to take advantage of this tool.

Please reach out to me directly if you have any questions.

Thanks,
FF

On Wed, May 13, 2020 at 3:42 AM Gene Cooperman <notifications@github.com>
wrote:

--
Floyd A. Fayton Jr., PhD

[2020-05-15 05:28] gc00 commented on #843
Hi FF,
     This sounds like a plan.  When we have an initial version working of the new support
for MPI/Slurm, I'll reach out to you.  The first version will be for MPICH. and family (e.g., MVAPICH2)  After that, it will need some fairly easy porting from MPICH to Open MPI.

We'll eventually get to Open MPI also.  But if you'd like to do some beta testing, and help with some simple porting to Ope

[2020-05-15 22:49] whitehat101 commented on #764
I encountered this in a Docker container of CentOS 7 on an OS X host.

In https://github.com/dmtcp/dmtcp/blob/master/src/terminal.cpp#L71
[code]
I saw this first in a new project, but then again in an unmodified `applic-initiated-ckpt`. Can I help with any logs?

[code]

[2020-06-05 01:05] jaxonwang opened #847 "User-provided plugin with malloc wrapper function cause segment fault in Linux kernel 5.4.0"
I am trying to write a plugin which wraps malloc but triggers segment fault in Linux kernel 5.4.0.
My system:
[code]
It works well in kernels before v5:
[code]

And this is the backtrace:

[code]
Seems that DMTCP can not correctly find _real_malloc's address here.

make check passes all cases in my system, but this issue happens when it comes to the user-provided plugin. Another way to reproduce:

[2020-06-05 05:42] jaxonwang commented on #847
It seems to be caused by GCC. The same issue happens in ubuntu 16.04 with GCC 8

[2020-06-07 18:13] theyueli commented on #671
hi, is there any update on this plugin? I also have a use case for this plugin as well.

[2020-06-09 07:47] gc00 commented on #671
Hi Yueli The (I hope I got the name right).
    We aren't currently working on an OpenGL plugin.  There is a related
effort now for support of CUDA.  We previously published a paper
on CRUM (by Rohan Garg et al.).  But that had runtime overhead of 6% to 12%.  We are now working on a new version, CRAC, that uses a new approach, and will have about 1% runtime overhead.

Best,
- Gene

_______________

[2020-06-09 10:03] gc00 commented on #847
Hi Jaxon,
    Sorry for the delay in getting back.  Unfortunately, 'malloc' can pose
special issues because DMTCP also has its own internal allocator.

I would suggest experimenting with:
  dmtcp_launch --disable-dl-plugin
  dmtcp_launch --disable-alloc-plugin

One or both of these may stop the unfortunate interference with the
malloc wrapper in your plugin.

Best,
- Gene

[2020-06-11 10:51] jaxonwang commented on #847
Thanks, Prof. Cooperman. I thought DMTCP chained the wrapper functions with the same symbols. Disabling the internal malloc does work for me here. Not sure whether DMTCP should avoid such interferences. If not, I will close this issue. Thanks again!

[2020-06-16 06:40] Hari-Guhan-s opened #849 "Checkpoint restore in python"
Hi I  am running DMTCP master in CENTOS 7 with python 3.7
I have been able to checkpoint from inside my python programm
using
`import dmtcp
dmtcp.checkpoint()`
but while i try to restore using dmtcp `dmtcp.restore()` it hangs after saying Restore from previous session

and while i try to run the dmtc_restart_script.sh maually is says
`[41000] WARNING at fileconnlist.cpp:313 in postRestart; REASON=

[2020-06-19 18:22] gc00 commented on #842
Hi @wpence,
    Sorry that I didn't reply to this earlier.  I took a closer look at DynamoRio now.  I believe that
it would be a lot of work to make DMTCP compatible with DynamoRio.  The problem is that
DynamoRio seems to be using ptrace.  We once had an experimental version of DMTCP
that supported checkpoint/restart with ptrace.  But it turned out to require significant effort
to support, and wit

[2020-06-26 11:09] loveshack commented on #698
I thought Fedora maintainership had been sorted out, but it seems it hasn't been and it's dead there, which is a pity.  Is there still any interest in maintaining the package?

[2020-06-26 19:15] karya0 commented on #698
@gc00: Do you know who is currently maintaining the fedora package?

[2020-06-26 19:48] gc00 commented on #698
The story is that you (@karya0) were the original maintainer, but that expired.  Paul Grosu was making an effort to become the new maintainer in Fall, 2019, but we were having trouble getting a Fedora sponsor.  As of Dec. 19, 2019, we had a temporary mentor, and we had a Fedora review.txt file, and had written our response to the review.  But after that, our mentor stopped responding, and we didn'

[2020-06-27 02:12] opoplawski commented on #698
I've (finally) replied to Paul.  Unfortunately he emailed me just before Christmas and things just got lost. I'll also have to admit that at the time I was kind of annoyed he didn't just submit it for review - but I should have at least replied with that.  Also kind of surprised that he just gave up after one email :).  Anyways, hopefully we are back on track...

[2020-07-02 22:55] gc00 commented on #698
Hi @opoplawski ,  Sorry for my delayed reply.  Yes, I very much want to get this back on track.  We do have a response to the review ready for Fedora.

@pgrosu , @opoplawski had sent us an e-mail on June 26, about resurrecting the review process for Fedora.  You can read at https://github.com/dmtcp/dmtcp/issues/698 about how the conversation fell into a black hole. But I think we're now back on tr

[2020-07-02 23:37] opoplawski commented on #698
Next step is to file the Fedora Package Review bug in bugzilla.redhat.com.

[2020-07-14 15:20] gourryinverse commented on #846
as far as i am aware, DMTCP does not touch any MSRs, so it's standard ISA register states and such.  As a result, it would have no problem crossing Intel/AMD processors or processor models because the x86 ISA is fairly standardized now.

And you're correct that x86 to ARM would not be possible.

[2020-08-05 02:15] mikenye opened #854 "Sporadic ERROR at mutex.cpp:81 in DmtcpMutexUnlock; REASON='JASSERT(mutex->owner == dmtcp_gettid()) failed'"
Hi DMTCP team,

I'm getting a strange sporadic error with DMTCP 3.0.0 (built from `master` branch, commit 5fb764a2dce73f143ba382073503051e58014020).

When starting a process via `dmtcp_launch` (with `dmtcp_coordinator` already running) I receive a number of errors, however upon repeated retries it eventually works:

[code]

While doing this, the output from `dmtcp_coordinator` was as follows:

[co

[2020-08-05 02:23] mikenye opened #855 "Error when restarting process: error: new/current break (0x558846c1f000) != saved break (0x5628c22cb000)"
Hi DMTCP team,

Following on from issue #854, once the process is running, I am able to checkpoint the running process, however when attempting to restart the process, I receive an error and the process behaves abnormally after restarting.

**Checkpointing & killing the running process**
From `dmtcp_coordinator`
[code]

**Attempting to restart the process**

`dmtcp_coordinator ` output:
[code]

`d

[2020-08-05 19:11] gc00 commented on #854
Hi Mike,
    How easy would it be for us to set up ModeSMixer2 locally here, and observe this bug?
That will be easiest for us.
Thanks,
- Gene

________________________________________
From: Mike <notifications@github.com>
Sent: Tuesday, August 4, 2020 10:15 PM
To: dmtcp/dmtcp
Cc: Subscribed
Subject: [dmtcp/dmtcp] Sporadic ERROR at mutex.cpp:81 in DmtcpMutexUnlock; REASON='JASSERT(mutex->owner ==

[2020-08-06 01:14] mikenye commented on #854
Hi Gene,

Thanks for getting back to me. It would be relatively straightforward as I've set up a docker container to do this.

[This Dockerfile](https://github.com/mikenye/docker-ModeSMixer2/blob/data_persistance_dev_dmtcp/Dockerfile) installs both DMTCP and ModeSMixer into a `debian:stable-slim` container.

If you need any assistance or would like to discuss, I'm on Discord most of the time at <h

[2020-10-06 03:41] gc00 opened #873 "Bug in presuspend logic of DMTCP: seen in test/plugin/presuspend"
There is a serious bug in test/plugin/presuspend that relates to the implementation of `DMTCP_EVENT_PRESUSPEND`.  If you run the equivalent of `make check`, but first compiling everything with `-g3`, and then run it with a long checkpoint interval (or none), so that no checkpoint request actually happens"
[code]

Once you are in GDB, do the following.  (The break on presuspend.c:171 will be pendin

[2020-10-28 03:23] mind-mind opened #877 "Deep learning Tensorflow, Pytorch with DMTCP"
Hello everyone,

I'm a master's student. I try to use DMTCP with deep learning TensorFlow and Pytorch. But the problem is, I can use the command "dmtcp_launch" and I put dmtcp.checkpoint() on my python code. There is script dmtcp_restart.sh normally. After that, when I use "dmtcp_restart", it has some error about dump failed something like that.

Anyway, I try with simple code like count.c, and it

[2020-11-07 11:07] leipan opened #879 "dmtcp 3.0 hangs with import of numpy"
until dmtcp_coordinator is killed.

In your supported apps page:
http://dmtcp.sourceforge.net/supportedApps.html
the commonly used apps supported by dmtcp include Python/Numpy

There is an issue that reported this as a bug in 2.5:
https://github.com/dmtcp/dmtcp/issues/599

Is this fixed or does it remain as a bug in 3.0?
Is there a walk around to address this issue?

numpy is commonly used in sate

[2020-11-09 15:19] mathiasbockwoldt opened #880 "Best practice to make DMTCP script available to Python"
I know that there is a [python script](https://github.com/dmtcp/dmtcp/blob/master/contrib/python/dmtcp.py) that allows control over DMTCP. But how should I put it in the Python PATH? Should I copy the script to some place Python can find it? Is that automagically done for me during installation?
Did you consider turning the script into a module on [PyPi](https://pypi.org/) so that users can instal

[2020-11-11 09:55] mathiasbockwoldt commented on #599
Is there anything happening with this bug? It's been open for three years now and it is still not solved. I would say that more than 90% of scientific users working with Python also use Numpy, so if DMTCP does not work with Numpy, it blocks most of scientific Python users.

[2020-11-11 10:15] mathiasbockwoldt commented on #599
I just checked my Numpy. I'm using Numpy version 1.19.4 with Python 3.7.0.
It looks like my Numpy uses an openBLAS shipped with Numpy using pip: `libopenblasp-r0-ae94cfde.3.9.dev.so`
I will try to install Numpy with cBLAS, although having the possibility to use openBLAS would make the installation much easier, because I could simply use pip.

[2020-12-10 13:23] leipan commented on #599
I am also very interested in the development of this issue. Please post your result here. Thanks, -Lei

[2020-12-21 20:04] jamarrobinson1 opened #881 "Dmtcp Issues with MPI"
When I try to Launch a simple MPI application with --  dmtcp_launch -p 41239 -j mpirun -n 1 mpicount

while a coordinator is already running on port 41239 which i started with the command  -- dmtcp_coordinator --daemon --coord-logfile dmtcp_log.txt -p 0 -i 10

I also exported a sigckpt of 12

I get the following error in the dmtcp launch terminal

[40000] WARNING at signalwrappers.cpp:149 in sigac

[2021-01-04 12:03] leipan opened #882 "dmtcp sometimes hangs for unknown reason"
I have reported in Nov of 2020 that dmtcp sometimes hangs with import of numpy in python applications. I have since then found out that dmtcp sometimes hangs with pykdtree, in the python code such as this one:
-------------------------------------------------------------
import numpy as np
from pykdtree.kdtree import KDTree

data_pts_real = np.array([[...]]) # details of data omitted
query_pts = n

[2021-01-04 22:05] gc00 commented on #882
Hi  Lei,
    I tried reproducing your bug on Fedora 33, and I'm not seeing the bug locally.  I am interested in tracking this down.  I can think of a few ways to proceed.
1.  Would it be easy for me to get a temporary guest account on your system, and then run a version of your example (without any proprietary data)?  This would be by far the easiest.
2.   Alternatively, can you run it under GDB a

[2021-01-04 22:33] gc00 commented on #599
This issue began with DMTCP 2.5.0.  In the year 2021, we intend to finally release DMTCP-3.0 (DMTCP master branch).  Let's continue this discussion in issue #883, which is based on DMTCP-3.0 and numpy.

[2021-01-04 22:36] gc00 commented on #879
Let's continue this discussion at issue #882, which has more details to try to isolate the bug.

[2021-02-06 04:33] zhiweiw88 commented on #392
I just encountered the same issue when I moved to a new system. It never happened on my old system (CentOS7). Here is the hardware and OS info of the new system:
C6420 (Intel Xeon Gold 6248 @ 2.50GHz , 384GB 2933 MHz memory, 120GB M.2 drives)
NAME="Red Hat Enterprise Linux"
VERSION="8.1 (Ootpa)"
DMTCP 2.6.0

It happens the first time (not after a few times) when restarting the program with dmtcp_r

[2021-02-08 18:31] dogunter commented on #721
This is still a problem in the current v3 main branch. Is anyone working on this code still?

[2021-02-14 06:48] gc00 opened #884 "Commit of Jan. 11, 2020 changed ipc/file/ptywrappers.cpp to zero-length file"
@karya0 ,
    In your commit of Jan. 11, 2020:
  9d3f7cf46ed45b8f4db791876fbc8bb124c206d7
you seem to have changed ipc/file/ptywrappers.cpp to a zero-length file as part of the "simplification" in your commit message.  This seems to have been an oversight.

Could you restore the appropriate version of ptywrappers.cpp?

This is especially important for two reasons.
  1.  This change caused DMTCP to

[2021-02-16 11:01] karya0 commented on #884
Hi @gc00, thanks for creating this issue. I have created a new set of  changes that removes a bunch of deadcode related to xstat but haven't had a chance to test it on libc 2.33 yet. I'll create a PR as soon as my OpenSUSE distro upgrades from 2.32 to 2.33.

[2021-02-17 00:08] gc00 commented on #884
Hi @karya0.  Since I opened this issue, I've now put in PR #886 to update the code around stat.  Could you do a review of that PR?  (Unfortunately, we're seeing more headaches around Travis CI now.  For this PR, Travis reports that the build is successful, and that Travis is still waiting for the status result.  Weird.  :-(  )

[2021-02-17 00:35] karya0 commented on #884
Hi @gc00, I'll take a look at the PR. I have also fixed the Travis issue.
Apparently, travi-ci.org has moved to travis-ci.com, so that needed several
updates in our github project. I probably forgot to remove the older .org
webhook and that's why the PRs were getting stuck.I have fixed that now.

[2021-02-17 10:15] gc00 commented on #884
Hi @karya0 . Thanks!!! :-)  I've now clicked on the "update branch" button for many of the github PRs.  They are now passing the Travis test.  After this, we should return to reviewing PRs.  I know that I got delayed during the Fall, when Covid changed everything.

Let's put a priority on reviewing PR #886, since eventually it will even cause DMTCP to fail to compile.

After that, we should especi

[2021-02-17 10:17] gc00 commented on #884
@karya0 .  Our messages crossed, but you read my mind.  :-)  Thanks for the review of PR #886 ,

[2021-02-20 03:06] h9zhou commented on #882
Hi @leipan and @gc00,
I tried reproducing this bug again on a machine similar to you, which using Centos:7.8  and dmtcp-3.0 (master branch as well as under batch #868 ),

I use your code to write a small program and add time.sleep(1) between np code and pykrete code and my own print code. The whole program is 40 lines(so small, if I do not add sleep it can not be checkpointed at a 1-second timesta

[2021-02-22 12:08] leipan commented on #882
I have added to my Dockerfile this option that you suggested, and config.log shows it:
config.log:    ./configure --enable-fast-restart --enable-debug --prefix=/home/leipan/local/dmtcp_installation
and my test_numpy.py is very simple:
[leipan@8892b5fcb5cd python]$ cat test_numpy.py
import dmtcp
import numpy
a=numpy.array([0,1,2])
print('before checkpoint: ', a)

[leipan@8892b5fcb5cd python]$ pytho

[2021-02-22 12:12] leipan commented on #882
BTW, my test_KDTree.py isn't a real data processing program at all. Here is a complete list of the code:
-----------------------------------------
import sys
import numpy as np
from pykdtree.kdtree import KDTree

data_pts_real = np.array([[  790535.062,  -369324.656,  6310963.5  ],
       [  790024.312,  -365155.688,  6311270.   ],
       [  789515.75 ,  -361009.469,  6311572.   ],
       [  78901

[2021-02-22 13:13] h9zhou commented on #882
So the problem actually is when you run it can not be checkpointed?

Okay, let us try something simple in your code first.
can you try to add one line code
`time.sleep(1)` before the line
`print('before checkpointed:', a)`
(also `import time` in the beginning)

this line makes sure the small program runs at least 1 second.

Now you can do to the specific checkpoint in 1 second(where sleep(1) is)
`

[2021-02-22 13:32] leipan commented on #882
The process still hangs:

[leipan@8892b5fcb5cd python]$ cat test_numpy.py
import dmtcp
import numpy
import time
a=numpy.array([0,1,2])
time.sleep(1)
print('before checkpoint: ', a)

"""
print('before checkpoint: ', a)
dmtcp.checkpoint()
print('after checkpoint: ', a)

# resuming after checkpoint, not restarting from checkpoint
if dmtcp.isResume():
  a=numpy.array([0,100,200])
  print('before resto

[2021-03-01 20:25] gc00 opened #894 "openmp-2 test can expose "double free or corruption" bug"
On github/Travis, the `openmp-2` test sometimes fails with `ckpt: PASSED; rstr: PASSED -> ckpt: FAILED`.  In order to diagnose it further, I changed `.travis.yml` to use:
[code]
This displayed the "double free or corruption" error.  Some good sites to help debug this are:
[https://stackoverflow.com/questions/2902064/how-to-track-down-a-double-free-or-corruption-error](url),
[https://support.microf

[2021-03-04 02:06] alan-lira opened #895 "DMTCP failed to restart checkpoint of mpi cluster simple application over virtual machines from cloud (ssh)"
I am currently facing an issue when trying to execute a simple MPI application (mpi_count) over virtual machines from cloud (amazon ec2).

To setup this simple mpi cluster, i do as follow:
- Each vm instance connects to others via ssh (ssh -i key.pem username@other-instance-ip)
- Then each vm instance enables password-less ssh between instances (cp key.pem ~/.ssh/id_rsa)

One vm instance plays dmt

[2021-03-08 19:32] gc00 opened #896 "Offering pigz as a replacement for gzip"
Tony Wildish made this nice suggestion.  What would be the best way to support pigz, if available on a local host?  We could transparently call it instead of gzip if available, but I'm worried about the security implications.  We could add a --use-pigz option for `dmtcp_launch`.  But there is a danger that the information will get buried in all the other options.  And I could add a comment in the

[2021-03-10 21:38] leipan commented on #882
Thanks a lot for your support. I really appreciate it.

[2021-03-11 21:10] jclin168 commented on #612
This hanging issue can be also observed in use of jemalloc + DMTCP in multi-threading environment and `fork` is called.
jemalloc also registers callback handler via `pthread_atfork`

The issue happens when `_wrapperExectionLock` has been locked by `WRAPPER_EXECUTION_GET_EXCL_LOCK` in DMTCP's `fork` routine, and real `fork` will callback to prefork handlers, one is `jemalloc_prefork0` that tries to

[2021-03-13 18:54] kloczek opened #897 "2.6.0: build fails"
Source tree configured with:
[code]
and it fails with:
[code]

[2021-03-14 05:19] mind-mind opened #899 "DMTCP doesn't snap every second."
Hi everyone,

I try to use dmtcp, I really that command "-i <second>" doesn't checkpoint every second. Just checkpoint only one time. For example, if I use dmtcp_launch -i 5 ./program It will checkpoint only the first 5 seconds, not every 5 seconds at all. If I want it to checkpoint every 5 seconds, how can I do that.

Anyway, I think your document mentioned that it was checkpointed every 5 second

[2021-03-14 19:44] gc00 opened #900 "After DMTCP launches, it fails when application opens open a symbolic link to /dev/stderr"
I'm adding this issue.  All the credit for diagnosing it goes to @JainTwinkle .  Her program causes a failure after launching it in DMTCP.  The bug was discovered through a user's bug report.

[code]

The resulting stack trace is here:
[code]

Here is the information quoted from her `e-mail.`

`

[2021-03-20 08:12] gc00 opened #901 "Two calls to listen() on same socket"
When two calls to `listen()` on the same socket are made, Linux silently changes the backlog and returns success.  (The POSIX standard is silent on this situation.)  Under DMTCP, we see an error when this happens.

We need to create a new test case for this situation, and implement the obvious bug fix in DMTCP.  (DMTCP currently complains about listening on a non-bind()ed socket when `listen()` is

[2021-03-24 10:26] JunyeonL commented on #709
I am also suffering the same compilation error. Any good way to fix it?

[2021-03-26 19:20] gc00 commented on #897
Hi @kloczek,  We've now pushed into the 2.6 branch the fix for the STAT problem that you mention. Please use git to pull the latest from the 2.6 branch.  (This was already pushed into our master branch (upcoming 3.0 version).)  It is an issue with modifications in the recent glibc-2.34.

We intend to release dmtcp-2.6.1 soon based on the current 2.6 branch.

Concerning Rawhide, we have a DMTCP pac

[2021-03-26 19:44] kloczek commented on #897
Just added to my dmtcp.spec all patches from 2.x branch and still build fails.
This time in configure after autoreconf.
[code]

[2021-03-26 19:45] kloczek commented on #897
Just in case I'm using autoconf 2.71 so it is possible to sort out autoreconf warnings (without breaking use oulder aoutoconf)

[2021-03-26 20:35] gc00 commented on #897
So, we're discussing two different targets here:
  using  Fedora's `rpmbuild -ba --with check dmtcp.spec`
  and building as we do upstream:  `./configure && make -j`

On Fedora Rawhide, I've only tested `rpmbuild -ba --with check dmtcp.spec` on the source rpm package that we created.  The commits are mostly the same, but not entirely.  (Further, we commented out some of the tests of `make check` b

[2021-03-26 20:42] kloczek commented on #897
Nope. I'm not using Fedora.
I';m usimg my own distribution in which only less than 20% is still from Fedora (WIP).
Fadora still is not usimg autoconf 2.71.

Thi sissu ehas nothing to do with %check.
This about %build.
So in my spec in %build I have:
[code]

[2021-03-26 21:33] gc00 commented on #897
Good.  I'll try that dmtcp.spec with the latest 2.6 branch, and tell you what I see on Rawhide.

[2021-03-27 06:29] gc00 commented on #897
@kloczek , Thanks for catching this.  This seems to be a bug in our `configure.ac`.  Our old `configure` still works, but `autoreconf` exposes the bug(s) in `configure.ac`, and we haven't done a full 'autoreconf' in a while.  I have a fixed up `configure.ac` that you can try out:
[code]

I'll wait until I hear that this also works in your system.  If this also works for you, then I'll push in the

[2021-03-27 08:10] gc00 opened #903 "When dmtcp_launch is called in a shell, on restart the process is in background (even if interactive)"
Place `dmtcp_launch -i40 R` (or `python -i`) inside a shell script, and then run the shell script.  And then run a Python program, in my case.  Then on restart, the interactive process is in background, and one cannot interact with it.

@JainTwinkle, I'm documenting the bug here.  I should be able to get to implementing the fix soon.

To reproduce, create `tmp.sh`:
[code]

Then execute `tmp.sh`, a

[2021-03-27 10:30] kloczek commented on #897
OK so that patch fixed ac issue :) (THx)

However master + eabcfa2b now fails in new places :)
[code]

[2021-04-02 06:39] JunyeonL commented on #897
Hi. I'm also having same problem (infiniband compilation error). I have tried to fix this verbs.h mismatch errors but it comes more error :(.  Is there any solution or update?

[2021-04-17 16:37] gc00 opened #906 "Using -fno-threadsafe-statics for jfilesystem.cpp"
If you do 'info gcc',
and search on 'fno-threadsafe-statics', you'll find:

`-fno-threadsafe-statics`
Do not emit the extra code to use the routines specified in the C++
ABI for thread-safe initialization of local statics.  You can use
this option to reduce code size slightly in code that doesn't need
to be thread-safe.

[code]

The use of call_init involves a call to a function with a static loca

[2021-04-29 00:37] watefeenex commented on #880
Hey @mathiasbockwoldt I'm currently trying to use DMTCP on windows and I agree with you that it would have been easier as a PyPi module but this is a Linux package by the looks of it. I just wanted to know, were you able to make it work? I got Ubuntu 18.04 LTS cause that is the version it is compatible, and built it. However I've run into the problem below.
![image](https://user-images.githubuserc

[2021-04-29 07:26] mathiasbockwoldt commented on #880
No, sorry. I tried various things, but in the end, I did not manage to get DMTCP running with my application anyway, so the Python controls became irrelevant.
Good luck!

[2021-04-29 07:38] watefeenex opened #907 "Can't get DMTCP to work on WSL/ubuntu on windows"
Hey I'm currently trying to use DMTCP on windows. I got Ubuntu 18.04 LTS cause that is the version it is compatible, and built it. However I've run into the problem below.
![image](https://user-images.githubusercontent.com/49417921/116516633-eff8b180-a921-11eb-80be-89b69dcce0bb.png)
I just have no clue why it says "Unable to find shared area". Counter.py is a file which is by default in the packag

[2021-05-01 05:38] watefeenex commented on #880
@mathiasbockwoldt By any chance do you know if dmtcp can checkpoint is created during native code (i.e. numpy/scipy/sklearn routines). Also so in the end did you try and do checkpointing in python? If so how did you manage to do it?

[2021-05-09 10:57] mathiasbockwoldt commented on #880
I did not manage to get checkpointing running. Neither with "native" DMTCP nor with Python.

[2021-05-29 03:27] #877 closed

[2021-05-29 03:27] #899 closed

[2021-06-02 23:02] leipan opened #908 "Two questions on how to run DMTCP with python apps"
I have two questions on how to use DMTCP: (1) how to run DMTCP with a python script being kicked off by a shell script? Somehow I got seg fault/core dump; and (2) how to use dmtcp_launch so it does not have significant performance impact on the apps? My app is virtualized in a docker image/container, so I wonder if I need to use some additional options that I don't yet know in order to run DMTCP p

[2021-06-16 12:27] dithwick opened #909 "Corresponding commit for dmtcp-2.6.1~rc1-0.1.el8.x86_64.rpm in EPEL"
Hi,

Is there a commit hash in this repository that corresponds to version 2.6.1~rc1 that's available in EPEL8? I might be missing something but I can't see a 2.6.1~rc1 tag, branch or release and I'd like to create an updated EasyBuild easyconfig (https://github.com/easybuilders/easybuild-easyconfigs/tree/develop/easybuild/easyconfigs/d/DMTCP) based on an export/release from this repo.

Thanks

[2021-06-24 16:39] Wosch96 opened #910 "Dmtcp Launch with simple mpi example does not work"
Hello guys,

I'm trying to use dmtcp on my vm cluster(Centos 7) and want to run an example with mpi. I need to say that I'm only running the yum package versions of dmtcp(2.6.1 if not mistaken) and mpi (1.10.7).
The cluster contains 4 nodes and they are connected via ssh. I used a simple hello_world example and can't get it running.
I'm running the dmtcp_coordinator on a second terminal and the in

[2021-06-24 17:16] xuyao0127 commented on #910
Hi, support for MPI programs is in another repository: [mpickpt/mana](https://github.com/mpickpt/mana/tree/master/contrib/mpi-proxy-split). MANA is still in active development and many things are subject to change. The best way to checkpoint MPI programs is by checking out the interface7 branch of the MANA repository. Configure with `./configure`, then compile with `make -j mana`. In the bin direc

[2021-06-26 00:12] gourryinverse opened #911 "-Wall errors - some absolutely legitimate bugs"
had to manually edit all the Makefile's to turn on -Wall, just setting it in the main directory did not pass it down

if data->realToVirtualPath.path is shorter than newPath - this will cause memory corruption
`
pid/pid.cpp: In function ‘void pid_real_to_virtual_filepath(DmtcpEventData_t*)’:
pid/pid.cpp:155:50: warning: argument to ‘sizeof’ in ‘char* strncpy(char*, const char*, size_t)’ call is th

[2021-06-26 14:22] gourryinverse opened #912 "valgrind errors"
./test in this case is just a binary with "while(1);" sitting in a loop, just to see what falls out without any complex interactions

gourry@RagudoMezegis:~/git/dmtcp/bin$ valgrind --leak-check=full ./dmtcp_launch ./test

==15572== Memcheck, a memory error detector
==15572== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==15572== Using Valgrind-3.15.0 and LibVEX; rerun with -h fo

[2021-06-26 14:25] gourryinverse commented on #912
also dmtcp crashes when checkpointing valgrind

running ./dmtcp_command -c in a separate window while this is running.
In this case, test is a problem with
while (1)
{
    sleep(2);
    printf(".");
}

gourry@RagudoMezegis:~/git/dmtcp/bin$ ./dmtcp_launch valgrind ./test

==15753== Memcheck, a memory error detector
==15753== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==15753==

[2021-06-28 22:12] gc00 commented on #912
Hi,
    Yes, you're correct.  DMTCP does not support Valgrind.  It's because both are doing things at a low level, and they interfere with each other.
    Some other tools that you could look at instead of Valgrind are:
 *  AddressSanitizer ( -sanitize=address ) available from gcc and clang, although the clang version has more options
 * ElectricFence:  https://github.com/kallisti5/ElectricFence

[2021-07-04 09:02] nausca commented on #392
hi,
you can check if your system disable ASRL or not.
do cat /proc/sys/kernel/randomize_va_space
in such case, you need to skipt the abort and change the ordering of vdso
and vvar session's remap in mtcp_restart,
by default, mtcp_restart remap vdso first, then vvar, you need to modify
the order, first remap vvar, then vdso.
and if the following mmap file, don't abort.

thanks.
nausca.

zhiweiw88 *

[2021-07-08 02:56] zouyonghao commented on #912
Hi, Gene

Actually I tested some programs compiled with ASan, and it also crashed.
The following trace may help:

[code]

[2021-07-19 03:16] atulyadavtech commented on #671
Hi Team,

Any update on the GPU plugin.

Thank You
Atul Yadav

[2021-07-27 05:46] yulingao commented on #721
i have the same problem. Is anyone restart the job successfully in Slurm?

[2021-07-27 06:00] yulingao commented on #725
I have the same problem when I try to checkpoint an mpi job using Slurm. Also, i cannot restart the mpi job by dmtcp_restart.sh

[2021-08-31 15:52] Eleno4kaLap opened #916 "NOTE at dmtcp_coordinator.cpp:730 in onDisconnect; REASON='client disconnected'"
Hello! Could you help me with restart screen session pls?
I have `dmtcp_launch (DMTCP) 2.6.0` in my docker container.
When I run` dmtcp_launch screen` and then `dmtcp_command --checkpoint` in new terminal tab, I got:
**Coordinator not found. Try specifying port with '--port'.**
When I run `dmtcp_coordinator` and then `dmtcp_launch screen` in new terminal tab, I got in tab with coordinator:
[code]

[2021-09-11 19:53] gc00 opened #917 "Bug in dmtcp_disable_plugin_ckpt()"
The following bug was observed in MANA using the latest DMTCP-3.0.  The essence is that dmtcp_disable_plugin_ckpt() calls DmtcpRWTryRdLock(), which tries to calls DmtcpMutexUnlock().  That last "unlock" fails to happen because the checkpoint signal comes in at that moment.

This would be fine, but the checkpoint thread is then blocked trying to call DmtcpMutexLock() on the same mutex lock as above

[2021-10-15 18:55] gourryinverse commented on #912
@gc00 i would imagine you can just add "-fsanitize=address" to any of your sample programs that you checkpoint.  There shouldn't be any special dependencies or setup, just natively supported by gcc

[2021-10-15 18:55] gourryinverse commented on #912
would actually be interested to see what happens if you compile DMTCP under address sanitization lol

[2021-11-14 08:36] ginward opened #920 "Segmentation fault"
I am getting the following error on a machine with the new IceLake CPUs:

[code]

[code]

I am using the latest version on the master branch of GitHub. Any idea how to resolve this?

[2021-11-24 03:50] HenrikBengtsson opened #921 "QUICK-START.md: Clarify that DMTCP_TMPDIR defaults TMPDIR and then to /tmp"
[QUICK-START.md](https://github.com/dmtcp/dmtcp/blob/master/QUICK-START.md) says:

However, looking at https://github.com/dmtcp/dmtcp/blob/f999adbb8e88fe452a0e57ceb43b6eed7b4409f9/src/util_init.cpp#L87-L95, it seems like this should say:

[2021-11-26 12:48] Uuq114 opened #922 "Is it possible to build MTCP only?"
Hello, I am interested with DMTCP and I want to start with the simple layer MTCP, the single process checkpointing.
Can you give me some advice to build and test MTCP alone?

[2022-01-06 08:12] shuqianwang opened #923 "IB plugin currently does not support more than one HCA"
**When use infiniband wrapper to checkpiont in our environment, we got error as belows:**

[root@6248r-node121 test]# ../../dmtcp-2.6-infiniband/bin/dmtcp_launch --ib mpirun -genv UCX_IB_GID_INDEX 3 -np 2 ./a.out
[46000] NOTE at processinfo.cpp:242 in findMiscAreas; REASON='bottom-most page of stack (page with highest address) was
  invisible in /proc/self/maps. It is made visible again now.'
[480

[2022-01-06 19:23] gc00 commented on #923
Hi @shuqianwang ,
    Assuming that your interest is for MPI, we are in the process of switching to supporting MANA for MPI on top of DMTCP.  That project will eventually e merged into the DMTCP repo, and the InfiniBand plugin will be deprecated.
    If you'd like to start testing MANA now, you can find it at:
  https://github.com/mpickpt/mana

You can try the feature/centos branch, which will sho

[2022-01-07 01:10] shuqianwang commented on #923
thanks.

[2022-01-07 01:16] shuqianwang commented on #923
thanks. And i also hava interest in the DMTCP use of ARMV8. I haved tried the 2.6 version on armv8 cpu in centos with one HCA in infiniband, but when make the code , there are a few todo aboute armv8, and got segmentation fault when using checkpoint.
so I wonder if the new MANA hava the ability to support well on ARMv8 architecture? thanks for your reply.

[2022-01-10 08:28] shuqianwang commented on #923
I have tied with the new mana in Centos7, but it faild at first when i complie the code. It seems that the new mana is not support well in Centos7 ,so I still want to use the original infiniband wrapper in my work. Can you give me some help about the todo work in 2 HCA?   Appreciate for your help.

[2022-01-10 15:36] LouisJenkinsCS opened #925 ""dmtcp_coordinator" segmentation fault if running executable from `make install` in Release 2.6"
When running `dmtcp_coordinator` from `make install` it will result in a segmentation fault. When analyzing the core dump, it shows that it crashes because `base_argv0` has the value `0x1` due to it trying to separate the forward slash characters ('/'). The reason it does not get stopped by the NULL check seems to be the fact that `strrchr(argv0_copy, '/') /* 0x0 */ + 1 /* 0x1 */ != NULL /* 0x0 */

[2022-01-12 00:00] JainTwinkle commented on #925
Thanks, @LouisJenkinsCS  for pointing it out.

@gc00 since you merge #905 PR into master, could you also add the PR to other branches (2.6 and 2.5)?

--Twinkle

[2022-02-04 06:30] #917 closed

[2022-02-13 12:25] freemin7 opened #954 "Alternative signals if USR2 is taken"
An application i use (in this case the Julia programming language runtime)
uses the USR2 signal internally. What other signals could i try for DMTCP?

I hope this is enough to make Julia work but i might also need to address
the dlopen warning and errors already reported by Philippe Marion. Here
https://sourceforge.net/p/dmtcp/mailman/dmtcp-forum/thread/b30cc819-f579-bc58-16f7-ee2d65eb7880%40univ-

[2022-02-13 15:44] sachinsshetty009 opened #955 "DMTCP 2.6 Branch issue fix"
Hello Team,

Referring to the suggestion on the issue board [https://github.com/mpickpt/mana/issues/54](mana), I would like to report our findings on the DMTCP repo.

The DMTCP CP tool was built on our HPC system, and below is system information:
Red Hat Enterprise Linux release 8.3 (Ootpa) Linux 4.18.0-240.el8.x86_64

**master branch**
When git checkout master and CPR counter mini-app. Upon resum

[2022-02-14 04:29] karya0 commented on #954
Can you try `./configure --enable-realtime-ckpt-signal` flag?

[2022-02-16 16:19] karya0 commented on #954
Thanks @freemin7 ! Looks like I accidentally merged without a fixup commit. I have created a new pull-request https://github.com/dmtcp/dmtcp/pull/959. We'll get it merged ASAP. Once it's merged, the second issue should go away.

[2022-02-22 08:42] freemin7 commented on #954
OK, i get a different error on restarting now:
[code]

[2022-02-22 13:15] zouyonghao commented on #699
Any updates for this?

[2022-02-22 13:18] karya0 commented on #699
We haven't had any use case in quite some time, so it's not on the radar currently :/.

[2022-03-07 15:29] ZigRazor opened #968 "Vulnerable to Command Injection"
In line :

https://github.com/dmtcp/dmtcp/blob/133687764c6742906006a1d247e3b83cd860fa1d/src/util_exec.cpp#L341

and in line :

 https://github.com/dmtcp/dmtcp/blob/133687764c6742906006a1d247e3b83cd860fa1d/src/util_exec.cpp#L457

There is a security vulnerability that allow commands injection.

For more details see:

- [OWASP](https://owasp.org/www-community/attacks/Command_Injection)
- [CWE-78](ht

[2022-03-10 12:42] superbu1234 opened #969 "DMTCP"
Can dmtcp set checkpoints on Gnome calculator?

[2022-03-14 05:51] weilu159357 commented on #843
Hi - Gene，
    I‘m trying to working with Slurm and MPICH. this ussue occurred too, and i removed all the "process_fd_event" function, this issue fixed, but when i checkpointing  (dmtcp_launch --rm mpirun -np 2 ./app), the checkpoint process is stucking and just one checkpoint file create.
    So， does the current dmtcp source code support slurm? If so, how to use it? Do you have a detailed guide

[2022-03-15 07:54] weilu159357 opened #971 "Message: Still draining socket... perhaps remote host is not running under DMTCP?"
Hello,
I use MPI with DMTCP to checkpoint, I used the command as below, but an issue occurd.
dmtcp_launch  /home/weilu/workspace/install-mpich/bin/mpirun -np 2  -hosts gsp,node1  ./alarm
[mpiexec@gsp] HYDU_create_process (utils/launch/launch.c:28): fork ...
[mpiexec@gsp] HYDU_create_process (utils/launch/launch.c:93): parent process = 72000
[mpiexec@gsp] HYDU_create_process (utils/launch/launch.c:

[2022-03-15 16:56] LouisJenkinsCS opened #972 "DMTCP fails to handle anon_inode in procselfmaps.cpp"
When coming across something like this...

[code]

It expects it to be an anonymous mapping if it does not start with '/', '[', or '(' and asserts that this is the case, which fails.

https://github.com/dmtcp/dmtcp/blob/133687764c6742906006a1d247e3b83cd860fa1d/src/procselfmaps.cpp#L210-L222

(Note on the last line there is a `JASSERT(data[dataIdx++] == '\n');`)

This instance can occur as shown he

[2022-03-15 17:46] JainTwinkle commented on #972
@LouisJenkinsCS  This piece of code is just setting the `area->name`. It should not crash here. Could you provide the error message?

[2022-03-15 18:42] LouisJenkinsCS commented on #972
[code]

Minimum working example:

I used [Spack](https://spack.readthedocs.io/en/latest/getting_started.html#installation) to install [PAPI](https://spack.readthedocs.io/en/latest/package_list.html#papi) and then compiled with

[code]

Hope this helps!

[2022-04-26 14:28] camilo1729 opened #979 "Error when restarting tensorflow cpu application"
Hello,

DMTCP crashes when restarting a simple tensorflow CPU script. I got the following error:

[code]

My python script is very simple:

[code]

I have also a strange warning when launching the script:
[code]
I tested with the  `DMTCP_DL_PLUGIN` but it did not solve the problem.

Have you encounter a similar problem?

Thanks in advance for your help.
Cristian

[2022-05-02 19:28] karya0 opened #983 "Vfork support broken."

[2022-05-06 11:58] GoodKairos opened #985 "DMTCP restarts failed on multiple nodes"
Hi，
I want to checkpoint and restart on multiple nodes.
my checkpoint command is: /home/test/DMTCP_NEW/dmtcp/bin/dmtcp_launch --interval 1 --coord-host 192.168.1.14 --coord-port 7790 -j /home/test/DMTCP_Tools/mpich-3.2.1/mpich-install/bin/mpirun -np 2 -hosts test_14,test_15 /home/test/workspace/test.

When I run **dmtcp_restart_script.sh**, the restart failed. The "**ThreadList::waitForAllRestored

[2022-05-13 19:53] ZxYuan opened #988 "Is CRAC CUDA plugin available?"
Hi,

I read the paper “CRAC: Checkpoint-Restart Architecture for CUDA with Streams and UVM” but find the CRAC repo mentioned ( https://github.com/DMTCP-CRAC/CRAC-early-development.git ) not available now. Where can I obtain the repo, or when will the cuda plugin merged to DMTCP?

[2022-05-13 19:58] gc00 commented on #988
@ZxYuan , the CRAC repo that you mentioned should still be available.  I tested the URL that you mention, and it still works.

Our current plans are to merge that work into the MANA project ( https://github.com/mpickpt/mana ) for MPI.  @JainTwinkle will be leading that effort.  This will allow people to transparent checkpoint hybrid computations (MPI+OpenMP+CUDA).  In the long term, we are also co

[2022-05-14 04:08] ZxYuan commented on #988
Oh my mistake. Thanks for replying!

[2022-05-20 10:46] cyssi-cb opened #990 "DMTCP: current break != saved break"
Hello,

I've been trying out DMTCP, version 3.0.0 on Ubuntu 22.04.

After installation "make check" will pass all the checkpoints, but will fail for every single restore.

dmtcp1         ckpt:PASSED; rstr:FAILED (first process rec'd signal 11); retry:
***** Copied checkpoint images to /tmp/dmtcp-cyssi@Cyssi-ASUS-Laptop/dmtcp-autotest-248999978
FAILED
               root-pids: [56088] msg: restart

[2022-05-20 14:05] gc00 commented on #990
@JainTwinkle or @karya0 , do you have time to take a look at DMTCP under Ubuntu 22.04?  It seems that there may be a small incompatibility that we will need to fix.  Thanks.

[2022-05-20 19:15] karya0 commented on #990
I’ll take a look.

On Fri, May 20, 2022 at 7:05 AM Gene Cooperman ***@***.***>
wrote:

[2022-05-24 05:43] karya0 commented on #990
@cyssi-cb : Can you try out the patch from #992 and see if that fixes your issue?

[2022-05-25 12:31] cyssi-cb commented on #990
Thank you very much for your time and help!
I can now restart it without problem, on restart it'll still show the error message "current break != saved break" as can be seen in the picture below, but it does not seem to effect any functionality whatsoever.

![error_but_works](https://user-images.githubusercontent.com/54069965/170261657-1d0e3244-a666-4507-9c32-06a31c85d9c2.png)

[2022-06-02 17:55] JainTwinkle opened #994 "Warning: Couldn't find offsets of tid/pid in thread_area"
With `gcc-9`, dmtcp_launch throws the following warning:
[code]

System information:
[code]

The comment at [tls.cpp#L249](https://github.com/dmtcp/dmtcp/blob/138dbe086d147b0255a4b3e03a53f67b5dd4d0ba/src/tls.cpp#L249) mentions about glibc-2.25 but I'm using glibc 2.17.

[2022-06-02 18:22] JainTwinkle commented on #994
Information from a GDB session:
[code]

[2022-06-02 21:26] karya0 commented on #994
Thanks for the diagnosis, @JainTwinkle. I just looked and threadlist certainly has a couple of discrepancies around pid handling. I'll create a PR to clean it up.

[2022-06-03 16:55] yulingao opened #996 "dmtcp2.6 cannot run hip program"
Hi, I try to dmtcp_launch a hip program with dmtcp2.6, but the program gets stuck somewhere.
When I don't use dmtcp_launch, it can run correctly.

[2022-06-04 06:01] gc00 commented on #996
What do you mean by HIP?  If it's the AMD library for GPU computing, we don't support that.  Also, please try DMTCP main branch, which will soon be DMTCP 3.0.

[2022-06-04 07:11] #996 closed

[2022-06-09 01:42] GoodKairos commented on #985
I fixed this issue, so close it.

[2022-06-09 01:42] #985 closed, assigned to nobody

[2022-06-09 01:59] GoodKairos opened #997 "The version of dmtcp and openmpi"
Hi,
Mr Professor，
I want to run dmtcp to checkpoint openmpi based application, I download the dmtcp-master and openmpi-4.1.4.
The checkpoint is failed.

So, could you tell me which version of dmtcp and openmpi can be used ?

Thank you very much.

Karrios.

[2022-06-09 06:07] gc00 commented on #997
@GoodKairos ,
    We don't support Open MPI right now. We have s new implementation here:
https://github.com/mpickpt/mana

Is been tested on MPICH for CentOS.  We do intend to support Open MPI in the future.  But maybe not on the near term unless there is enough demand.

[2022-06-17 02:45] cyyzero opened #1001 "InfiniBand plugin use some deleted api"
Hi,
I got errors when trying to use dmtcp to dump MPI programs

[code]
I found that InfiniBand plugin uses functions that has been deleted (eg. [commit of remove dmtcp_send_key_val_pair_to_coordinator_sync](https://github.com/dmtcp/dmtcp/commit/d46e61d88c09d3ba8190b9e80c81cc52cf4900c0#)). Is it needed to update Infiniband plugin？

[2022-06-28 19:14] JainTwinkle opened #1004 "DMTCP is skipping a non-zero protected library region during a checkpoint"
DMTCP is skipping a protected library region during a checkpoint due to the logic at https://github.com/dmtcp/dmtcp/blob/348ea0c39ea258a1dd25748bbeae80ada7bd3991/src/writeckpt.cpp#L234. We examine this protected region under GDB and found that it has data. Perhaps, the library may want to use it in the future.
The following are the relevant procmaps regions:
[code]
The potential fix is to either m

[2022-07-05 20:13] #994 closed

[2022-07-22 04:49] ylkuo96 opened #1009 "vdso / vvar address overlapping checking in older version of mtcp_restart.c"
Hi,

I have a question about checking vvar / vdso address is overlapped or not in older version of mtcp_restart.c

From the source code, before mapping vdso back to old vdso location, and mapping vvar back to old vvar location, we check the following four situations:
1. (new vdso, old vdso)
2. (new vdso, old vvar)
3. (new vvar, old vdso)
4. (new vdso, old vvar)

But actually, the fourth should be

[2022-08-11 23:36] Larofeticus commented on #983
I'd like to have the vfork support in dmtcp.

I'm working in the area of using dmtcp with workflow management tools to preserve and resume their active state and child tasks. A significant number of tools I would like to support use vfork to launch their tasks (Snakemake, regular GNU Makefile, anything that uses the python subprocess package) are currently unusable with dmtcp.

The outcome of tryi

[2022-08-13 23:29] freemin7 opened #1014 "How to debug programms whose snapshits reliably crash"

[2022-10-04 14:28] albertz opened #1031 "DMTCP checkpoint restore is slow"
My intention is to use DMTCP to store CPython right after it loaded some big modules (e.g. TensorFlow or PyTorch). The startup time of CPython + loading TensorFlow/PyTorch can take a noticeable amount of time (1-2 secs on a fast system; if the filesystem is slow, it can easily get to 10-20 seconds). So I thought I just store the state after it loaded those modules and restore the state later, to t

[2022-11-26 12:43] gogo2464 opened #1041 "port dmtcp for windows"
**Is your feature request related to a problem? Please describe.**
I was doing reverse engineering to the RensenWare malware. About the decompiled source code, if I exit the process or shutdown my computer the ransomware key is destroy. I want to restore the key from the ram dump taken just in time. Sadly I must run the malware IN HIS CURRENT STATE. Not a rewrite of the .exe. In this way I could d

[2022-11-26 12:56] gogo2464 commented on #1041
@karya0 You seem to be the owner of the stack overflow answer. Could you provide some references as mentionned in stack overflow please? I can help to implement this feature.

[2022-11-26 13:46] gogo2464 commented on #1041
Assign me to this issue please.

[2022-11-27 00:33] gc00 commented on #1041
Hi @gogo2464 ,  That would be great if you're serious about porting DMTCP to Windows.  However, I estimate that it's a job of a minimum of 3 months, working at least part of each day on it.  We've thought about this in the past.  If you're serious about this, I could lead you through some of the approaches that we've thought about.  But it is a major undertaking
     If that huge time commitment i

[2022-11-27 02:31] gogo2464 commented on #1041
@gc00 I need this requirement to write a blog article for my compagny. I can do a pull request. They are very open and they understand the interest of the open source. I am not sure if I can fully work on this for 3 month. I have to talk to them.

At last but not least, I would like to ensure that my PR will answer for my needs. Can dmtcp continue the execution of a process from a dump file from v

[2022-11-27 17:14] gc00 commented on #1041
@gogo2464 , Let's continue by private e-mail.  My e-mail is:  gene@ccs.neu.edu
I'm in the Boston area, concerning time zones.  We could arrange a Zoom link to talk on Monday, if that works for you.
Best,
- Gene

[2022-11-28 14:46] gogo2464 commented on #1041
8pm start 4 hours latter from now for me. is it ok?

Le dim. 27 nov. 2022 à 18:15, Gene Cooperman ***@***.***> a
écrit :